/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}

/*
 * 这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 博建项目系统独有样式*/
.bj-header-font{
	font-size: 14px;
	color: #000000;
}
.bj-title1-font{
	font-size: 13pt;
	color: #000000;
}
.bj-title2-font{
	font-size: 12pt;
	color: #000000;
	line-height: 130%;
}
.bj-p-gray-font{
	font-size: 11pt;
	color: #BBBBBB;
}
.bj-p-black-font{
	font-size: 11pt;
	color: #000000;
}
.bj-ul-clear{
	list-style: none;
	margin: 0;
	padding: 0;
}
.bj-background-inherit{
	background-color: inherit;
}
.mui-pull-right.bj-header-right{
	line-height: 44px;
}
/*博建项目系统头背景*/
header.mui-bar.mui-bar-nav{
	background-color: #00CCFF;
}

#list {
	/*避免导航边框和列表背景边框重叠，看起来像两条边框似得；*/
	margin-top: -1px;
}

.mui-content-padded p{
	text-indent:2em;
}


