/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
body{
	font-size: 14px !important;
}
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}

/*
 * 这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 博建项目系统独有样式*/

#toright{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../images/to-right.png);
}

#title-scroll a{
	padding: 10px;
}
.bj-header-font{
	font-size: 14px;
	color: #000000;
}
.bj-title1-font{
	font-size: 14px;
	color: #000000;
}
.bj-title2-font{
	font-size: 14px;
	color: #000000;
	line-height: 130%;
}
.bj-p-gray-font{
	font-size: 90%;
	/*color: #BBBBBB;*/
}
.bj-p-black-font{
	font-size: 14px;
	color: #000000;
}

.bj-ul-clear{
	list-style: none;
	margin: 0;
	padding: 0;
}
.bj-img-center{
	margin: 0 auto;
	width: 100%;
}
.bj-img-temp{
	width: 100px;
	height: 150px;
	margin: 5px 5px;
}
.bj-background-inherit{
	/*background-color: inherit;*/
}
.mui-pull-right.bj-header-right{
	line-height: 44px;
}
input.bj-input{
	line-height: 21px ;
	height: 40px;
	margin-bottom: 15px;
	padding: 10px 15px;
	width: 100%;
	-webkit-user-select: text;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	outline: 0;
	background-color: #fff;
	-webkit-appearance: none;
}
textarea.bj-input{
	height: 120px;
	width: 100%;
}
.bj-disable{
	background-color: gainsboro !important;
	pointer-events:none;
}
.bj-input-disable{
	pointer-events:none;
	width: 100%;
	text-align: center;
}
.bj-broder{
	border: 1px dashed gray;
	margin: 5px auto;
}
.bj-line{
	background-color: gray;
	height: 1px;
	margin: 1px 0;
}
/*博建项目系统头背景*/
header.mui-bar.mui-bar-nav{
	background-color: #00CCFF;
}

#list {
	/*避免导航边框和列表背景边框重叠，看起来像两条边框似得；*/
	margin-top: -1px;
}
#img-list{
	background-color: inherit !important;
}

.mui-content-padded p{
	text-indent:2em;
}


.bj-none{
	display: none;
}
.bj-red{
	color:red;
}
.bj-hand{
   cursor: pointer;
}
#bj-zz{
	background: gray; 
	display: flex; 
	content: ' '; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	right: 0px;
	bottom: 0px;
	z-index: 9;
}

.bj-img1{
    max-width:  100%;
    width: auto;
    height: auto;
}

/*自适应表格开始*/
  table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
  }

  table tr {
    
    padding: 2.5px;
  }
  table tr th {
  	font-weight: normal;
  }

  table th, table td {
  	border: 1px solid #ddd;
    padding: 1px 5px;
    text-align: center;
    max-width: 100px;
  }

  table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }
  td input{
          	margin-bottom: 0px !important
  }

  /*@media screen and (max-width: 600px) {

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }*/

.note{max-width: 98%; margin: 0 auto;}

tr .visibility{
	visibility: hidden;margin: 0;padding: 0;
}

/*自适应表格结束*/