<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zj.platform.business.file.dao.FileDao">
        <select id="queryList" parameterType="fileDo" resultType="fileDo">
          SELECT  id,busType,busId,type,fileName,fileSize,createUserId,createUserName,createDeptId,createDeptName,url,createDate  FROM sys_file
          <where>
                 <if test=' id!=null '>
                      id=#{id}
                 </if>
                 <if test=' busType!=null  and busType!="" '>
                    and   busType=#{busType}
                  </if>
                 <if test=' busId!=null  and busId!="" '>
                  and   busId=#{busId}
                </if>
          </where>
              ORDER  by  createDate desc
        </select>
</mapper>