<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/cache 
     http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
     http://www.springframework.org/schema/mvc    
     http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd ">

	<!-- 自动扫描包 -->
	<context:component-scan
		base-package="com.zj">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller"></context:exclude-filter>
	</context:component-scan>

	<!-- 引入jdbc配置文件 -->
	<context:property-placeholder
		location="classpath:jdbc.properties" />

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<aop:config proxy-target-class="true">
		<aop:pointcut id="servicePointcut"
			expression="
			execution(* com.zj..service..*.insert*(..)) ||
			execution(* com.zj..service..*.del*(..))||
			execution(* com.zj..service..*.remove*(..)) ||
			execution(* com.zj..service..*.update*(..))||
			execution(* com.zj..service..*.create*(..))||
			execution(* com.zj..service..*.add*(..))||
			execution(* com.zj..service..*.save*(..))" />

		<aop:advisor pointcut-ref="servicePointcut"
			advice-ref="serviceAdvice" />

		<aop:advisor pointcut-ref="druid-stat-pointcut"
			advice-ref="druid-stat-interceptor" />

	</aop:config>

	<bean id="druid-stat-interceptor"
		class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor">
	</bean>

	<bean id="druid-stat-pointcut"
		class="org.springframework.aop.support.JdkRegexpMethodPointcut"
		scope="prototype">
		<property name="patterns">
			<list>
				<value>com.zj.*.service.*</value>
				<value>com.zj.*.dao.*</value>
			</list>
		</property>
	</bean>

	<!-- 阿里巴巴druid配置 -->
	<bean id="dataSource"
		class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

		<!-- 初始化大小、最小、最大 -->
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="maxActive" value="${jdbc.maxActive}" />

		<!-- 配置连接等待超时时间 -->
		<property name="maxWait" value="${jdbc.maxWait}" />

		<!-- 配置检测，关闭不使用连接 -->
		<property name="timeBetweenEvictionRunsMillis"
			value="${jdbc.timeBetweenEvictionRunsMillis}" />

		<!-- 配置连接池中连接生存的时间(最小) -->
		<property name="minEvictableIdleTimeMillis"
			value="${jdbc.minEvictableIdleTimeMillis}" />
		<!-- 连接是否失效 -->
		<property name="testWhileIdle" value="${jdbc.testWhileIdle}" />
		<!-- 这里建议配置为TRUE，防止取到的连接不可用，生产环境testOnBorrow，testOnReturn都关闭 -->
		<property name="testOnBorrow" value="${jdbc.testOnBorrow}" />
		<property name="testOnReturn" value="${jdbc.testOnReturn}" />

		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<property name="poolPreparedStatements"
			value="${jdbc.poolPreparedStatements}" />
		<property name="maxPoolPreparedStatementPerConnectionSize"
			value="${jdbc.maxPoolPreparedStatementPerConnectionSize}" />

		<!-- 验证连接有效与否的SQL，不同的数据配置不同 -->
		<property name="validationQuery"
			value="${jdbc.validationQuery}" />
		<!-- 监控统计用的filter:stat ,日志用的filter:log4j ,防御sql注入的filter:wall -->
		<property name="filters" value="${jdbc.filters}" />
		<!-- 如果同时配置了filters和proxyFilters， 是组合关系，并非替换关系,所以可以选择是否配置 -->
		 <property name="proxyFilters">
		 	<list>
		 		<ref bean="logFilter" />
		 	</list>
		 </property>
	</bean>

	<bean id="logFilter"
		class="com.alibaba.druid.filter.logging.Log4jFilter">
		<property name="statementExecutableSqlLogEnable" value="true" />
	</bean>

	<!-- 完美整合spring和MyBatis-puls -->
	<bean id="sqlSessionFactory"
		class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 加载mybaits配置文件 -->
		<property name="configLocation"
			value="classpath:mybatis-config.xml"></property>
		<!-- 扫描实体类型别名 -->
		<property name="typeAliasesPackage"
			value="/com/zj/**/domain"></property>
		<!-- 只扫描基础domain的类 -->
	<property name="typeAliasesSuperType"
			value="com.zj.platform.common.web.domain.BaseDomain"></property>
		<!-- 配置数据库提供厂商 -->
		<property name="databaseIdProvider" ref="DB_VENDOR"></property>
		<!-- 自动扫描dao.xml文件 -->
		<property name="mapperLocations">
			<list>
				<!--sqlserver <value>classpath*:/com/zj/**/sqlmap/sqlserver/*Dao.xml</value> -->
				<!-- Oracle -->
				<value>classpath*:/com/zj/**/mapper/*Mapper.xml</value>
				<!-- mysql <value>classpath*:/com/zj/**/sqlmap/mysql/*Dao.xml</value> -->
			</list>
		</property>

		<!-- MP 全局配置注入 -->
		<property name="globalConfig" ref="globalConfig" />

		<!-- 插件 -->
		<property name="plugins">
			<array>
				<!-- 分页插件 -->
				<ref bean="paginationInterceptor" />
				<!-- 乐观锁插件 -->
				<!-- <ref bean="optimisticLockerInterceptor" /> -->
				<!-- 性能拦截器，兼打印sql，不建议生产环境配置 -->
				<ref bean="performanceInterceptor" />
				<!-- 返回结果集拦截 -->
				<ref bean="customResultSetHandlerInterceptor" />
			</array>
		</property>
	</bean>

	<!-- 定义 MP 全局策略 -->
	<bean id="globalConfig"
		class="com.baomidou.mybatisplus.core.config.GlobalConfig">
		<!-- 逻辑删除 定义下面3个参数 -->
		<!-- <property name="sqlInjector" ref="logicSqlInjector" /> -->
		<property name="dbConfig" ref="dbConfig" />
		<!-- 公共字段填充处理器 -->
		<property name="metaObjectHandler"
			ref="customMetaObjectHandler" />
	</bean>

	<bean id="dbConfig"
		class="com.baomidou.mybatisplus.core.config.GlobalConfig.DbConfig">
		<property name="logicDeleteValue" value="0" />
		<property name="logicNotDeleteValue" value="1" />
		<!-- 全局ID类型： 0, "数据库ID自增"， 1, "用户输入ID", 2, "全局唯一ID", 3, "全局唯一ID" -->
		<property name="idType" ref="idType_AUTO" />
		<!-- 字段验证策略 字符串验证"" -->
		<property name="fieldStrategy" ref="fieldStrategy_NOT_EMPTY" />
	</bean>

	<bean id="idType_AUTO"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField"
			value="com.baomidou.mybatisplus.annotation.IdType.AUTO" />
	</bean>

	<bean id="fieldStrategy_NOT_EMPTY"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField"
			value="com.baomidou.mybatisplus.annotation.FieldStrategy.NOT_EMPTY" />
	</bean>

	<!-- 自定义填充处理器 -->
	<bean id="customMetaObjectHandler"
		class="com.zj.platform.mybatis.mapper.CustomMetaObjectHandler" />

	<!-- 分页插件 -->
	<bean id="paginationInterceptor"
		class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor">
	</bean>

	<!-- 结果集处理 -->
	<bean id="customResultSetHandlerInterceptor"
		class="com.zj.platform.mybatis.interceptor.CustomResultSetHandlerInterceptor">
	</bean>

	<!-- 性能拦截器，兼打印sql，不建议生产环境配置 -->
	<bean id="performanceInterceptor"
		class="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor">
		<!--maxTime SQL 执行最大时长，超过自动停止运行，有助于发现问题。 -->
		<property name="maxTime" value="600000" />
		<!--format SQL是否格式化 默认false -->
		<property name="format" value="false" />
	</bean>

	<bean id="DB_VENDOR"
		class="org.apache.ibatis.mapping.VendorDatabaseIdProvider">
		<property name="properties">
			<map>
				<entry key="MySQL" value="mysql"></entry>
				<entry key="Microsoft SQL Server" value="mssql"></entry>
				<entry key="Oracle" value="oracle"></entry>
				<entry key="H2" value="h2"></entry>
				<entry key="PostgreSQL" value="postgres"></entry>
				<entry key="DB2" value="db2"></entry>
			</map>
		</property>
	</bean>

	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zj.**.dao" />
		<property name="sqlSessionFactoryBeanName"
			value="sqlSessionFactory"></property>
	</bean>

	<!-- (事务管理)transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="serviceAdvice"
		transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="del*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="remove*" propagation="REQUIRED"
                rollback-for="Throwable" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="create*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="add*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="save*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="generator*" propagation="REQUIRES_NEW"
				rollback-for="Throwable" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>


	<bean id="sqlSessionTemplate"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
	</bean>


</beans>