<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <!--指定发现自动映射目标未知列（或者未知属性类型）的行为。
        NONE: 不做任何反应
        WARNING: 输出提醒日志 ('org.apache.ibatis.session.AutoMappingUnknownColumnBehavior' 的日志等级必须设置为 WARN)
        FAILING: 映射失败 (抛出 SqlSessionException)-->
        <setting name="autoMappingUnknownColumnBehavior" value="NONE"/>
        
        <!--是否开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 的类似映射。true | false	默认：False-->
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        
        <!---	当返回行的所有列都是空时，MyBatis默认返回null。 当开启这个设置时，MyBatis会返回一个空实例。 请注意，它也适用于嵌套的结果集 (i.e. collectioin and association)。（从3.4.2开始）	true | false	false-->
        <!--<setting name="returnInstanceForEmptyRow" value="true"/>-->
        
        <!--autoMappingBehavior	指定 MyBatis 应如何自动映射列到字段或属性。 NONE 表示取消自动映射；PARTIAL 只会自动映射没有定义嵌套结果集映射的结果集。 FULL 会自动映射任意复杂的结果集（无论是否嵌套）。	NONE, PARTIAL, FULL	PARTIAL-->
        <!--<setting name="autoMappingBehavior" value="FULL"/>-->
        
        <!-- jdbcTypeForNull	当没有为参数提供特定的 JDBC 类型时，为空值指定 JDBC 类型。 某些驱动需要指定列的 JDBC 类型，多数情况直接用一般类型即可，比如 NULL、VARCHAR 或 OTHER。	JdbcType 常量. 大多都为: NULL, VARCHAR and OTHER	默认：OTHER -->
        <setting name="jdbcTypeForNull" value="NULL"/>


        <!--指定当结果集中值为 null 的时候是否调用映射对象的 setter（map 对象时为 put）方法，这对于有 Map.keySet() 依赖或 null 值初始化的时候是有用的。注意基本类型（int、boolean等）是不能设置成 null 的。-->
        <setting name="callSettersOnNulls" value="true" />
        
    </settings>
    
    <typeAliases>
    	<typeAlias type="java.sql.Blob" alias="blob"/>
        <typeAlias type="java.util.HashMap" alias="hashmap"/>
    </typeAliases>
    
   	<!-- map增强 -->
    <objectWrapperFactory type="com.zj.platform.mybatis.configuration.objectwrapperfactory.CustomWrapperFactory"></objectWrapperFactory>
    
   <!--  这样用有 bug mybatis-puls rc版本以前
   <mappers>
    	<mapper resource="com/zj/platform/base/id/mapper/xxDao.xml"/>
    </mappers> -->

</configuration>