package ${package}.service;

import ${package}.domain.${className}DO;
import  com.zj.platform.common.web.service.BaseService;
import java.util.Collection;
import java.util.Map;


/**
 * 
 * <pre>
 * ${comments}
 * </pre>
 * <small> ${datetime} | ${author}</small>
 */
public interface ${className}Service extends BaseService<${className}DO> {

    public boolean removeByParmMap(Map<String, Object> parmMap);

    public Collection<${className}DO> listByParmMap(Map<String, Object> parmMap);
}
