<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zj.project.xm.xmgckyzfqk.dao.XmGckyzfqkDao">
      <select id="getSprSpsl" resultType="java.util.HashMap">
            select count(*) as num,a.chrsprmc  from  bj_xm_gckyzfqk c inner join (
select id,chrsprmc  from bj_splc_zt where (chrsplclx,intxh) in 
(select chrsplclx,max(intxh) maxxh  from bj_splc_zt where fcbz=1 and chrsplclx in ('zfqk') GROUP BY chrsplclx)) a on c.intsplcztid=a.id  where fcbz=1  and c.intxmid=#{xmid} GROUP BY a.chrsprmc
    </select>
</mapper>