<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zj.project.xm.xmsgjd.ecjgzx.dao.XmSgjdEcjgzxWclDao">
     <select id="getXXmSgjdEcjgzxWclListByEcjgzxidAndLcid" parameterType="map" resultType="xmSgjdEcjgzxWclDO">
            SELECT
		    k.id,
		    k.fcbz,
		    k.gxsj,
		    k.intxh,
		    k.intecjgzxid,
		    ifnull(k.intlcid, g.id) intlcid,
		    g.chrjdmc chrlc,
		  k.intmc,
		  k.intfs,
		  k.intnbw,
		  k.intqt,
		  k.intzx
		FROM
		    bj_xm_gqjdbj g
		LEFT JOIN bj_xm_sgjd_ecjgzx_wcl k 
		on g.id = k.intlcid
		AND k.intecjgzxid = #{intecjgzxid}   and k.fcbz=1 
		WHERE
		    g.fcbz = 1
		AND g.intxmid = #{intxmid} and g.chrjdlx='zt'  and  g.intfjdid=#{did}
        </select>
</mapper>