<head th:fragment="header">
	<meta charset="utf-8">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" href="favicon.ico">
	<link href="../../../../../css/bootstrap.min.css?v=3.3.6"
		  th:href="@{/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
	<link href=".../../../../../css/font-awesome.css?v=4.4.0"
		  th:href="@{/css/font-awesome.css?v=4.4.0}" rel="stylesheet">
	<link href="../../../../../css/bootstrap-table.min.css"
		  th:href="@{/css/bootstrap-table.min.css}"
		  rel="stylesheet">
	<link href="../../../../../css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet">
	<link href="../../../../../css/jquery.treegrid.css" th:href="@{/css/jquery.treegrid.css}" rel="stylesheet">
	<!--summernote css -->
	<link href="../../../../../css/summernote-0.8.8.css" th:href="@{/css/summernote-0.8.8.css}" rel="stylesheet">
	<link href="../../../../../css/animate.css" th:href="@{/css/animate.css}" rel="stylesheet">
	<link href="../../../../../css/chosen.css" th:href="@{/css/chosen.css}" rel="stylesheet">
	<link href="../../../../../css/style.css?v=4.1.0" th:href="@{/css/style.css?v=4.1.0}" rel="stylesheet">
	<link href="../../../../../plugins/bootstrap-select/css/bootstrap-select.css" th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet">
	<link href="../../../../../plugins/layui/layui.css" th:href="@{/plugins/layui/layui.css}" rel="stylesheet">
	<link rel="stylesheet" href="../../../../../css/gg-my.css" th:href="@{/css/gg-my.css}"/>
</head>
<div th:fragment="footer">
	<script src="../../../../../js/jquery.min.js?v=2.1.4" th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
	<script src="../../../../../js/bootstrap.min.js?v=3.3.6" th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<script src="../../../../../plugins/bootstrap-table/bootstrap-table.min.js" th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script src="../../../../../plugins/bootstrap-table/bootstrap-table-mobile.min.js" th:src="@{/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
	<script src="../../../../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" th:src="@{/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
	<script src="../../../../../plugins/validate/jquery.validate.min.js" th:src="@{/plugins/validate/jquery.validate.min.js}"></script>
	<script src="../../../../../plugins/validate/messages_zh.min.js" th:src="@{/plugins/validate/messages_zh.min.js}"></script>
	<script src="../../../../../plugins/jsTree/jstree.min.js" th:src="@{/plugins/jsTree/jstree.min.js}"></script>
	<script src="../../../../../plugins/jqTreeGrid/jquery.treegrid.min.js" th:src="@{/plugins/jqTreeGrid/jquery.treegrid.min.js}"></script>
	<script src="../../../../../plugins/jqTreeGrid/jquery.treegrid.extension.js" th:src="@{/plugins/jqTreeGrid/jquery.treegrid.extension.js}"></script>
	<script src="../../../../../plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js" th:src="@{/plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js}"></script>
	<script src="../../../../../plugins/chosen/chosen.jquery.js" th:src="@{/plugins/chosen/chosen.jquery.js}"></script>
	<script src="../../../../../plugins/layer/layer.js" th:src="@{/plugins/layer/layer.js}"></script>
	<script src="../../../../../plugins/layui/layui.js" th:src="@{/plugins/layui/layui.js}"></script>
	<script src="../../../../../js/content.js?v=1.0.0" th:src="@{/js/content.js?v=1.0.0}"></script>
	<!--summernote-->
	<script src="../../../../../plugins/summernote/summernote.js" th:src="@{/plugins/summernote/summernote.js}"></script>
	<script src="../../../../../plugins/summernote/summernote-zh-CN.min.js" th:src="@{/plugins/summernote/summernote-zh-CN.min.js}"></script>
	<script src="../../../../../plugins/bootstrap-select/js/bootstrap-select.js" th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>
	<script src="../../../../../js/common.js" th:src="@{/js/common.js}"></script>
</div>
