<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zj.project.xm.xmsgjd.sgjdztjgsgkz.dao.XmSgjdZtjgsgKzDao">
        <select id="getXmSgjdZtKzListByXmidAndZtsgid" parameterType="map" resultType="xmSgjdZtjgsgKzDO">
            select k.id,k.fcbz,k.gxsj,k.intxh,ifnull(k.intxmid,g.intxmid) intxmid,k.intztsgid,ifnull(k.intgqjdbjid,g.id) intgqjdbjid,g.chrjdmc chrjdmc,k.dtmwcsj from  bj_xm_gqjdbj g LEFT JOIN bj_xm_sgjd_ztjgsg_kz k on  g.intxmid=k.intxmid and g.id=k.intgqjdbjid and intztsgid=#{intztsgid}   and k.fcbz=1 
            where g.fcbz=1 and  g.intxmid=#{intxmid} and g.chrjdlx='zt'  and  g.intfjdid=#{sgwzd}
        </select>
</mapper>