<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>传音重庆产业园流程</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">传音重庆产业园流程</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						包含页眉页脚的卡片，页眉常用来显示
					</div>
				</div>
				<div class="mui-card-footer">
					<span>审批人：张删</span>
					<a class="mui-card-link">提醒审批</a>
				</div>
				<div class="mui-card-footer">
					<a class="mui-card-link">选择附件</a>
					<span>实施方案.doc</span>
				</div>
			</div>
			<img style="margin: 0 auto;display:block ;" src="../images/arrow_down.png"/>
			
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>