<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>基础模版</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			 table {
    border: 1px solid #ccc;
    width: 98%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
  }

  table tr {
    border: 1px solid #ddd;
    padding: 5px;
  }

  table th, table td {
    padding: 10px;
    text-align: center;
  }

  table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" >
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" >基础模版</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">编辑</button>
		</header>
		<div class="mui-content">
			<div style="height: 300px;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<table class="mui-scroll" style="height: auto">
				            	<thead>
						    <tr>
						      <th>合同金额A</th>
						      <th>潜在变更总金额B</th>
						      <th>累计已发放期数</th>
						      <th>累计发放金额C</th>
						      <th>合同金额A</th>
						      <th>潜在变更总金额B</th>
						      <th>累计已发放期数</th>
						      <th>累计发放金额C</th>
						      <th>合同金额A</th>
						      <th>潜在变更总金额B</th>
						      <th>累计已发放期数</th>
						      <th>累计发放金额C</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td data-label="合同金额A">测试</td>
						      <td data-label="潜在变更总金额B">测试</td>
						      <td data-label="累计已发放期数">测试</td>
						      <td data-label="累计发放金额C">测试</td>
						       <td data-label="合同金额A">测试</td>
						      <td data-label="潜在变更总金额B">测试</td>
						      <td data-label="累计已发放期数">测试</td>
						      <td data-label="累计发放金额C">测试</td>
						       <td data-label="合同金额A">测试</td>
						      <td data-label="潜在变更总金额B">测试</td>
						      <td data-label="累计已发放期数">测试</td>
						      <td data-label="累计发放金额C">测试</td>
						    </tr>
						  </tbody>
			            </table>
				</div>
			
		</div>
		<script type="text/javascript">
			mui('.mui-scroll-wrapper').scroll().scrollTo(0,0,500);//100毫秒滚动到顶
		</script>
	</body>
</html>
