<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>公告详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">公告</h1>
		</header>
		<div class="mui-content">
			<div class="mui-content-padded">
				<!--<h3>关于新启用项目管理流程“博建施工管理系统”</h3>
				<h6>
					<span>2018.7.10</span>
					&nbsp;
					<span>人力/财政-张三</span>
				</h6>
				<p>
					
					司在化妆品事业部研发的开始。今天,在全球公认的最具权威性的肌肤及医。
				</p>-->
			</div>
			<div class="filelist">
				附件：
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/notice_detail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>