<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>公告</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">公告</h1>
		</header>
		<div class="mui-content">
			<!--
            <div class="mui-card" onclick="toGgxqPage()">
				<div class="mui-card-header" id="title">
					关于新启用项目管理流程
				</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner" id="synopsis">
						包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）
					</div>
				</div>
				<div class="mui-card-footer">
					<span id="time">
						2018.7.10
					</span>
					<span id="name">
						人力/财政-张三
					</span>
				</div>
			</div> -->
			
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/notice_list.js" type="text/javascript" charset="utf-8"></script>
		
	</body>

</html>