<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css"/>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button id="editBtn" 
		     class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="save()">保存</button>
		</header>
		<div class="mui-content" id="app">

			<form id="myform">
                <input class="bj-input bj-p-black-font " type="hidden" id="fileIds" />
				<div class="mui-content-padded">
					<h5 id="bj-xmmc" >项目</h5>
					<h5 style="margin-left: 16px;"><span id="toright"></span>材料样板审批记录详情</h5>
					<hr />
					<h5 class="bj-title2-font"><span class="bj-title-p-font">更新日期：</span>
						<input class="bj-input bj-p-black-font bj-disable" type="text" id="dtmgxrq" name="dtmgxrq" placeholder=""  />
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">报告日期：</span>
                        <input class="bj-input bj-p-black-font " type="text" id="dtmbgrq" name="dtmbgrq" readonly="readonly" data-options='{"type":"date"}'  placeholder="报告日期"  />
                    </h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">材料样板类型：</span>
						<input class="bj-input bj-p-black-font" type="hidden" id="intclyblx" placeholder="材料样板类型" />
						<input class="bj-input bj-p-black-font"  readonly="readonly"  type="text" id="chrclyblx" placeholder="材料样板类型" />
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">施工负责单位：</span>
						<input class="bj-input bj-p-black-font" type="hidden" id="intsgdw" placeholder="施工负责单位" />
						<input class="bj-input bj-p-black-font"  readonly="readonly"  type="text" id="chrsgdw" placeholder="施工负责单位" />
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">是否替代品：</span>
						<input class="bj-input bj-p-black-font" type="hidden" id="intsfdtp" v-model="intsfdtp" placeholder="是否替代品" />
						<input class="bj-input bj-p-black-font" type="text" id="chrsfdtp" v-model="chrsfdtp" v-on:click="sfPicker()"  placeholder="是否替代品" />
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">材料样板名称：</span>
						<input class="bj-input bj-p-black-font" type="text" id="chrybmc" placeholder="材料样板名称" />
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">材料使用位置：</span>
						<input class="bj-input bj-p-black-font" type="text" id="chrybwz" placeholder="材料使用位置" />
					</h5>
					<h5 class="bj-title2-font">品牌名称：</h5>
					   <input class="bj-input bj-p-black-font" type="text" id="chrppmc" placeholder="品牌名称" />
					<h5 class="bj-title2-font">技术资料：</h5>
					<div>
						<div id="pp-list">
						</div>
						<button class="mui-btn mui-btn-primary" type="button" style="margin-bottom: 5px;" onclick="addpp()">+</button>
					</div>
						
					
					
					<h5 class="bj-title2-font"><span class="bj-title-p-font">规范标准：</span>
						<input class="bj-input bj-p-black-font" type="text" id="chrgfbz" placeholder="规范标准" />
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">备注：</span>
						<input class="bj-input bj-p-black-font" type="text" id="chrbz" placeholder="备注" />
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">材料样板文件：</span>
                        <div id="uploader" class="wu-example">
                            <!--用来存放文件信息-->
                            <div class="btns">
                                <button id="chbtn" type="button">选择文件</button>
                            </div>
                            <div id="file-list">
                            </div>
                        </div>
                    </h5>
                    <div  v-bind:class="isSp ? '' : 'bj-disable'">
                    	
                    
						<h5 class="bj-title2-font"><span class="bj-title-p-font">审批人：</span>
					
							<input class="bj-input bj-p-black-font" type="hidden" id="intsplczt" name="intsplczt" v-model="intsplczt" placeholder="审批人" />
							<input class="bj-input bj-p-black-font" type="text" id="chrsprmc" name="chrsprmc" v-model="chrsprmc" v-on:click="splcPicker()"  placeholder="审批流程状态" />
							<button class="mui-btn mui-btn-blue" type="button" v-on:click="txsp">提醒审批</button>
						</h5>
						<h5 class="bj-title2-font"><span class="bj-title-p-font">审批状态：</span>
	                        <input class="bj-input bj-p-black-font" type="hidden" id="chrspzt" name="chrspzt" v-model="chrspzt" placeholder="审批状态" />
	                        <input class="bj-input bj-p-black-font" type="text" id="chrspztmc" name="chrspztmc" v-model="chrspztmc" v-on:click="spztPicker()"  placeholder="审批状态" />
	                    </h5>
						<h5 class="bj-title2-font"><span class="bj-title-p-font">审批结果：</span>
						   <textarea type="text" placeholder="审批结果" id="chrspjg"  name="chrspjg"  class="bj-input bj-p-black-font"></textarea>
						</h5>
						<h5 class="bj-title2-font"><span class="bj-title-p-font">审批状态日期：</span>
	                        <input class="bj-input bj-p-black-font " type="text" readonly="readonly" id="dtmspztrq" name="dtmspztrq" data-options='{"type":"date"}'  placeholder="审批状态日期"  />
	                    </h5>
                    </div>
				</div>
			</form>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_material_record_add.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>