<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>项目管理平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../css/mui.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/app.css"/>
        <link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
        <link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
        <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
        <style type="text/css">
            .icon{
                height: 15px!important
            }
            .addbtn{
                padding: 10px 30px;
                margin-right: 20px;
            }
            .mleft10{
				margin-left: 10px!important;
			}
            .mleft30{
                margin-left: 30px!important;
            }
          [v-cloak] { 
            display: none; 
          } 
        </style>
    </head>
        
    <body>
        <header class="mui-bar mui-bar-nav">
            <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
            <h1 class="mui-title">
                <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <div class="mui-scroll" id="title-scroll">

                    </div>
                </div>
            </h1>
            <!--<button id="confirmBtn" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">新增</button>-->
        </header>
        <div class="mui-content" id="app" v-cloak>
            <ul class="mui-table-view"> 
                <li class="mui-table-view-cell" v-on:click="toggle('qqbj')">前期报建<span class="mui-badge addbtn"  type="qq">+</span><span :class="qqShow?'nav-right':'nav-right mui-active'"></span></li>
	                <div class="mui-content-padded " style="overflow-x: scroll;"  v-show="qqShow"> 
		                <table>
						  <thead>
						    <tr>
						      <th style="width: 25%;">名称</th>
						      <th style="width: 30%;">计划<br />完成时间</th>
						      <th style="width: 30%;">实际<br />完成时间</th>
						      <th style="width: 15%;">(+)提前<br />(-)延后</th>
						    </tr>
						  </thead>
					    <tr v-for="(item,index) in qqbj" :name="item.id">
					      <td data-label="名称">{{item.chrjdmc}}</td>
					      <td data-label="计划完成时间">{{item.dtmjhwcsj}}</td>
					      <td data-label="实际完成时间">{{item.dtmsjwcsj}}</td>
					      <td data-label="(+)提前/(-)延后">{{computedDay(item.dtmjhwcsj,item.dtmsjwcsj)}}</td>
					    </tr>
						</table>
					</div>
                <li class="mui-table-view-cell" v-on:click="toggle('jc')">基础<span class="mui-badge addbtn"  type="jc">+</span><span :class="jcShow?'nav-right':'nav-right mui-active'"></span></li>
	                <div class="mui-content-padded" style="overflow-x: scroll;" v-show="jcShow">
		                <table>
						  <thead>
						    <tr>
						       <th style="width: 25%;">名称</th>
						      <th style="width: 30%;">计划<br />完成时间</th>
						      <th style="width: 30%;">实际<br />完成时间</th>
						      <th style="width: 15%;">(+)提前<br />(-)延后</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr v-for="(item,index) in jc" :name="item.id" style="margin-left: 5%;">
						      <td data-label="名称">{{item.chrjdmc}}</td>
						      <td data-label="计划完成时间">{{item.dtmjhwcsj}}</td>
						      <td data-label="实际完成时间">{{item.dtmsjwcsj}}</td>
						      <td data-label="(+)提前/(-)延后">{{computedDay(item.dtmjhwcsj,item.dtmsjwcsj)}}</td>
						    </tr>
						   </tbody>
						</table>
					</div>
                <li class="mui-table-view-cell" v-on:click="toggle('zt')">主体<span :class="ztShow?'nav-right':'nav-right mui-active'"></span></li>
                <ul class="mui-table-view bj-background-inherit mleft10" v-show="ztShow">
			        <li class="mui-table-view-cell mui-collapse" v-for="item in zt">
			            <a class="mui-navigate-right" href="javascript:void(0);">{{item.chrjdmc}}<span class="mui-badge addbtn" type="zt" :itemid ="item.id" >+</span></a>
			            	<ul class="mui-table-view " style="overflow-x: scroll;"> 
			            		<table>
					        		<thead>
							    		<tr>
										 <th style="width: 25%;">名称</th>
						      <th style="width: 30%;">计划<br />完成时间</th>
						      <th style="width: 30%;">实际<br />完成时间</th>
						      <th style="width: 15%;">(+)提前<br />(-)延后</th>
							    		</tr>
							  	</thead>
							  	<tbody>
							    		<tr v-for="child in item.childList">
							    			<td data-label="名称">{{child.chrjdmc}}</td>
										<td data-label="计划完成时间">{{child.dtmjhwcsj}}</td>
										<td data-label="实际完成时间">{{child.dtmsjwcsj}}</td>
										<td data-label="(+)提前/(-)延后">{{computedDay(child.dtmjhwcsj,child.dtmsjwcsj)}}</td>
							    		</tr>
							  </tbody>
						  </table>
			    			</ul>
			        </li>
				</ul>
				<li class="mui-table-view-cell" v-on:click="toggle('zxjg')">专项及竣工验收<span class="mui-badge addbtn"  type="zx">+</span><span :class="zxjgShow?'nav-right':'nav-right mui-active'"></span></li>
	                <div class="mui-content-padded" style="overflow-x: scroll;" v-show="zxjgShow">
						<span>专项验收</span>
						<table>
							<thead>
								<tr>
									 <th style="width: 25%;">名称</th>
						      <th style="width: 30%;">计划<br />完成时间</th>
						      <th style="width: 30%;">实际<br />完成时间</th>
						      <th style="width: 15%;">(+)提前<br />(-)延后</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="item in zxys">
									<td data-label="名称">{{item.chrjdmc}}</td>
									<td data-label="计划完成时间">{{item.dtmjhwcsj}}</td>
									<td data-label="实际完成时间">{{item.dtmsjwcsj}}</td>
									<td data-label="(+)提前/(-)延后">{{computedDay(item.dtmjhwcsj,item.dtmsjwcsj)}}</td>
								</tr>
							</tbody>
						</table>	
	                  <span>竣工验收</span>
                       <table>
							<thead>
								<tr>
									 <th style="width: 25%;">名称</th>
						      <th style="width: 30%;">计划<br />完成时间</th>
						      <th style="width: 30%;">实际<br />完成时间</th>
						      <th style="width: 15%;">(+)提前<br />(-)延后</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="item in jgys">
									<td data-label="名称">{{item.chrjdmc}}</td>
									<td data-label="计划完成时间">{{item.dtmjhwcsj}}</td>
									<td data-label="实际完成时间">{{item.dtmsjwcsj}}</td>
									<td data-label="(+)提前/(-)延后">{{computedDay(item.dtmjhwcsj,item.dtmsjwcsj)}}</td>
								</tr>
							</tbody>
						</table>	
				</div>
            </ul>
        </div>
        <script src="../js/mui.min.js"></script>
        <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/project_timenode_comparison.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
