<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<style type="text/css">
			[v-cloak] { 
	            display: none; 
	        } 
	        #print_div{
	        	display: flex;
	        }
	        #print_btn{
	        	padding: 5px 50px;
    			margin: 5px auto;
	        }
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">
		
					</div>
				</div>
			</h1>
			<button id="editBtn"  class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="msg()">通知</button>
		</header>
		<div class="mui-content" id="app" style="margin: 15px;" v-cloak>
        	<h5 id="bj-xmmc" >项目</h5>
			<h5 style="margin-left: 16px;"><span id="toright"></span>管理平台汇总资料</h5>
			<hr />
			<h5>一、主要工期节点</h5>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">1、已完成节点数量：{{jdWcsl}}</li>
				<li class="mui-table-view-cell">2、已延误未完成节点数量：{{jdWwcsl}}</li>
			</ul>
			<h5>二、样板施工记录</h5>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">1、完成总数量：{{ybWcsl}}</li>
				<li class="mui-table-view-cell">2、验收通过数量：{{ybTgsl}}</li>
			</ul>
			<h5>三、材料样板审批记录</h5>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">1、报审总数量：{{ybspZsl}}</li>
				<li class="mui-table-view-cell">2、已完成审批流程数量：{{ybspWcsl}}</li>
				<li class="mui-table-view-cell">3、审批通过数量：{{ybspTgsl}}</li>
				<div v-for="(value,key) in ybspList">
					<li class="mui-table-view-cell">{{key+4}}、待{{value.chrsprmc}}审批数量：{{value.num}}</li>
				</div>
			</ul>
			<h5>四、质量缺陷报告</h5>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">1、缺陷总数量：{{qxWcsl}}</li>
				<li class="mui-table-view-cell">2、已整改数量：{{qxZgsl}}</li>
			</ul>
			<h5>五、工程顾问变更记录</h5>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">1、变更总数量：{{bgZsl}}</li>
				<li class="mui-table-view-cell">2、已完成审批流程数量：{{bgWcsl}}</li>
				<li class="mui-table-view-cell">3、审批通过数量：{{bgTgsl}}</li>
				<div v-for="(value,key) in bgList">
					<li class="mui-table-view-cell">{{key+4}}、待{{value.chrsprmc}}审批数量：{{value.num}}</li>
				</div>
			</ul>
			<h5>六、工程款申请/支付记录</h5>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">1、总申请期数：{{zfZsl}}</li>
				<li class="mui-table-view-cell">2、已完成审批流程期数：{{zfWcsl}}</li>
				<li class="mui-table-view-cell">3、审批通过数量：{{zfTgsl}}</li>
				<div v-for="(value,key) in zfList">
					<li class="mui-table-view-cell">{{key+4}}、待{{value.chrsprmc}}审批数量：{{value.num}}</li>
				</div>
			</ul>
			<h5>七、安全报告</h5>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">1、安全隐患总数量：{{aqZsl}}</li>
				<li class="mui-table-view-cell">2、已整改数量：{{aqYzgsl}}</li>
			</ul>
		</div>
		<div id="print_div">
			<button id="print_btn" class="mui-btn mui-btn-blue" onclick="print()">打印</button>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var pagedata;
			var _self;
			var systemdate1 = bjGetSysDate("yyyy-MM-dd E a HH:mm");
			//获取数据
			$bjAjax({
			    url:progressHzxxMapApiPath,
			    type:"post",
			    async:false,
			    data:{
			        xmid:getCookie("id")
			    },
			    success:function(data){
			    	pagedata = data;
			    	console.log(pagedata);
			    }
			});
			var vue = new Vue({
				el: '#app',
				data: pagedata,
				beforeCreate: function(){
					_self = this;
				},
				methods: {
					
				}
			})
			function msg(){
				getSplcList("hzmsg");
			}
			//根据splclx审批流程状态获取list数据（汇总也是这个接口）
			function getSplcList(lx){
				$bjAjax({
						url:splcztBySplclxApiPath,
						type:"post",
						async:false,
						data:{
							splclx:lx
						},
						success:function(data){
							var userids="";
							if(data){
								for(item in data){
									userids+=(data[item].chruserid+"|");
								}
								ftxsp("管理平台汇总资料送达，请查看！\n"+systemdate1,userids);
							}
						}
					});
			}
			//提醒通知
			function ftxsp(contentText,chruserid){
				if(chruserid){
					$bjAjax({
						url:splcTxByUseridApiPath,
						type:"post",
						async:false,
						data:{
							contentText:contentText,
							userId:chruserid
						},
						success:function(data){
							if(data){
								bjToast("已提醒！")
							}
						}
					});
				}else{
					bjToast("该流程未设置UserId，不能进行提醒，联系管理员添加。")
				}
			}
			//打印
			function print(){
				var tableToPrint = document.getElementById('app');//将要被打印的表格
	            var newWin= window.open("");//新打开一个空窗口
	            newWin.document.write(tableToPrint.outerHTML);//将表格添加进新的窗口
	            newWin.document.close();//在IE浏览器中使用必须添加这一句
	            newWin.focus();//在IE浏览器中使用必须添加这一句
	            newWin.print();//打印
	            newWin.close();//关闭窗口
			}
		</script>
	</body>
</html>
