<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>政府部门巡查/专项验收记录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<style type="text/css"> 
          [v-cloak] { 
            display: none; 
          } 
        </style> 
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0);" onclick="outPage()"></a>
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="openAdd()">新增</button>
		</header>
		<div class="mui-content" id="app">
			<ul class="mui-table-view bj-title2-font bj-background-inherit"> 
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">市规划局巡查记录<span class="mui-badge mui-badge-primary" v-cloak>{{sghj.length}}</span></a>
		            	<ul class="mui-table-view bj-background-inherit" id="sghj"> 
					        <li class="mui-table-view-cell mui-collapse" v-for="item in sghj" v-if="item.intxcbm=='sghj'" v-on:click="openDetail(item.id)">{{item.dtmgxrq}}</li>
					         <li v-if="sghj.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li>
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">区规划局巡查记录<span class="mui-badge mui-badge-primary" v-cloak>{{qghj.length}}</span></a>
		            	<ul class="mui-table-view bj-background-inherit" id="qghj"> 
				        	<li class="mui-table-view-cell mui-collapse" v-for="item in qghj" v-if="item.intxcbm=='qghj'" v-on:click="openDetail(item.id)">{{item.dtmgxrq}}</li>
				        	 <li v-if="qghj.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li>
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse" >
		            <a class="mui-navigate-right" href="#">质监站巡查记录<span class="mui-badge mui-badge-primary" v-cloak>{{zjzxc.length}}</span></a>
		            	<ul class="mui-table-view bj-background-inherit" id="zjzxc"> 
				        	<li class="mui-table-view-cell mui-collapse" v-for="item in zjzxc" v-if="item.intxcbm=='zjzxc'" v-on:click="openDetail(item.id)">{{item.dtmgxrq}}</li>
				        	 <li v-if="zjzxc.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li>
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">安监站巡查记录<span class="mui-badge mui-badge-primary" v-cloak>{{ajzxc.length}}</span></a>
		            	<ul class="mui-table-view bj-background-inherit" id="ajzxc"> 
				        	<li class="mui-table-view-cell mui-collapse" v-for="item in ajzxc" v-if="item.intxcbm=='ajzxc'" v-on:click="openDetail(item.id)">{{item.dtmgxrq}}</li>
				        	 <li v-if="ajzxc.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li>
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">业主方巡查记录<span class="mui-badge mui-badge-primary" v-cloak>{{yzfxc.length}}</span></a>
		            	<ul class="mui-table-view bj-background-inherit" id="yzfxc"> 
				        	<li class="mui-table-view-cell mui-collapse" v-for="item in yzfxc" v-if="item.intxcbm=='yzfxc'" v-on:click="openDetail(item.id)">{{item.dtmgxrq}}</li>
				        	 <li v-if="yzfxc.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li>
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">专项验收记录<span class="mui-badge mui-badge-primary" v-cloak>{{zxys.length}}</span></a>
		            	<ul class="mui-table-view bj-background-inherit" id="zxys"> 
				        	<li class="mui-table-view-cell mui-collapse" v-for="item in zxys" v-if="item.intxclb=='zxys'" v-on:click="openDetail(item.id)">{{item.dtmgxrq}}</li>
				        	 <li v-if="zxys.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li>
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">竣工验收记录<span class="mui-badge mui-badge-primary" v-cloak>{{jgys.length}}</span></a>
		            	<ul class="mui-table-view bj-background-inherit" id="jgys"> 
				        	<li class="mui-table-view-cell mui-collapse" v-for="item in jgys" v-if="item.intxclb=='jgys'" v-on:click="openDetail(item.id)">{{item.dtmgxrq}}</li>
				        	 <li v-if="jgys.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li>
		    			</ul>
		        </li>
		    </ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_gov_record.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
