<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="add()">新增</button>
		</header>
		<div class="mui-content" id="list">
			<ul class="mui-table-view bj-title2-font bj-background-inherit"> 
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#" >顾问工作变更审批记录<span id="1Span" class="mui-badge mui-badge-primary"></span></a>
		            	<ul class="mui-table-view bj-background-inherit" id="1"> 
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#" )">工程变更审批记录<span id="2Span" class="mui-badge mui-badge-primary"></span></a>
		            	<ul class="mui-table-view bj-background-inherit" id="2"> 
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#" ">其他变更审批记录<span id="3Span" class="mui-badge mui-badge-primary"></span></a>
		            	<ul class="mui-table-view bj-background-inherit" id="3"> 
		    			</ul>
		        </li>
		    </ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_change_record.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
