<!doctype html>
<html>

<head>
<meta charset="utf-8">
<title>项目管理平台</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css"
	href="../libs/layui/css/layui.css" />
<link rel="stylesheet" href="../css/mui.min.css" />
<link rel="stylesheet" type="text/css" href="../css/app.css" />
<link rel="stylesheet" type="text/css" href="../css/mui.picker.css" />
<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css" />
<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
<style type="text/css">
td input {
	margin: 0px !important;
	border-radius: 0px !important;
}
</style>
</head>

<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left"
			href="javascript:void(0);" onclick="outPage()"></a>
		<h1 class="mui-title">
			<div
				class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll" id="title-scroll"></div>
			</div>
		</h1>
		<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right"
			onclick="save()">保存</button>
	</header>
	<div class="mui-content" id="app">
		<form id="myform">
			<input class="bj-input bj-p-black-font" type="hidden" id="intxmid" v-model="intxmid" placeholder="项目id" />
			<input class="bj-input bj-p-black-font" type="hidden" id="id" v-model="id" placeholder="业务id" />
			<input class="bj-input bj-p-black-font" type="hidden" id="fileIds" placeholder="文件ids" />
			<div class="mui-content-padded">
				<h5 id="bj-xmmc" >项目</h5>
				<h5 style="margin-left: 16px;"><span id="toright"></span>工程款申请/支付情况</h5>
				<hr />
				<h5 class="bj-title2-font">
					<span class="bj-title-p-font">更新日期：</span> <input class="bj-input bj-p-black-font bj-disable" type="text" id="dtmgxrq" v-model="dtmgxrq" />
				</h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">报告日期：</span>
                        <input class="bj-input bj-p-black-font"  readonly="readonly" type="text" id="dtmbgrq" v-on:click="datePicker('dtmbgrq')" v-model="dtmbgrq" placeholder="请选择" />
                </h5>
				<h5 class="bj-title2-font">
					<span class="bj-title-p-font">单位类型：</span> <input class="bj-input bj-p-black-font" type="hidden" id="intdwlx" v-model="intdwlx" placeholder="请选择" />
					 <input class="bj-input bj-p-black-font" type="text" id="chrdwlx" v-model="chrdwlx" v-on:click="lxPicker" placeholder="请选择" />
				</h5>
				<h5 class="bj-title2-font">
					<span class="bj-title-p-font">单位名称：</span>
					 <input class="bj-input bj-p-black-font" type="hidden" id="intdwmcid" v-model="intdwmcid" placeholder="请选择" />
					 <input class="bj-input bj-p-black-font" type="text" id="chrdwmc" v-model="chrdwmc" v-on:click="dwPicker" placeholder="请选择" />
				</h5>
				<h5 class="bj-title2-font">
					<span class="bj-title-p-font">本次申请期数：</span>
					 <input class="bj-input bj-p-black-font bj-disable" type="number" id="intbcsqqs" v-model="intbcsqqs"/>
				</h5>
				<h5 class="bj-title2-font">
					<span class="bj-title-p-font">本期申请金额：</span>
					 <input class="bj-input bj-p-black-font" type="number" id="intbqsqje" v-model="intbqsqje" placeholder="请输入" />
				</h5>
				<h5 class="bj-title2-font">
					<span class="bj-title-p-font">本期核发金额：</span>
					 <input class="bj-input bj-p-black-font" type="number" id="intbqhsffje" v-model="intbqhsffje" placeholder="请输入" />
				</h5>
				<h5 class="bj-title2-font">申请支付情况：</h5>
				<table>
					<thead>
				    <tr>
				      <th>合同金额A</th>
				      <th>潜在变更总金额B</th>
				      <th>累计已发放期数</th>
				      <th>累计发放金额C</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-label="合同金额A"><input class="bj-input bj-p-black-font bj-disable" type="text" :value="inthtje"/></td>
				      <td data-label="潜在变更总金额B"><input class="bj-input bj-p-black-font bj-disable" type="text" :value="intqzbgzje"/></td>
				      <td data-label="累计已发放期数"><input class="bj-input bj-p-black-font bj-disable" type="text" :value="yfqs"/></td>
				      <td data-label="累计发放金额C"><input class="bj-input bj-p-black-font bj-disable" type="text" :value="yfje"/></td>
				    </tr>
				  </tbody>
				  <thead>
				    <tr>
				      <th>B/A</th>
				      <th>本次申请金额D</th>
				      <th>本期核实发放金额E</th>
				      <th>D/E</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-label="B/A"><input class="bj-input bj-p-black-font bj-disable" readonly="readonly" type="text" :value="BA"/></td>
				      <td data-label="本次申请金额D"><input class="bj-input bj-p-black-font bj-disable" type="text" :value="intbqsqje"/></td>
				      <td data-label="本期核实发放金额E"><input class="bj-input bj-p-black-font bj-disable" type="text" :value="intbqhsffje"/></td>
				      <td data-label="D/E"><input class="bj-input bj-p-black-font bj-disable" readonly="readonly"  type="text" :value="DE"/></td>
				    </tr>
				  </tbody>
				  <thead>
				    <tr>
				      <th>C/A</th>
				      <th>(C+E)/A</th>
				      <th>C/(A+B)</th>
				      <th>(C+E)/(A+B)</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-label="C/A"><input class="bj-input bj-p-black-font bj-disable"  readonly="readonly" type="text" :value="CA"/></td>
				      <td data-label="(C+E)/A"><input class="bj-input bj-p-black-font bj-disable"  readonly="readonly" type="text" :value="CEA"/></td>
				      <td data-label="C/(A+B)"><input class="bj-input bj-p-black-font bj-disable"  readonly="readonly" type="text" :value="CAB"/></td>
				      <td data-label="(C+E)/(A+B)"><input class="bj-input bj-p-black-font bj-disable" readonly="readonly"  type="text" :value="CEAB"/></td>
				    </tr>
				  </tbody>
				</table>
				
				<h5 class="bj-title2-font">
					 <span class="bj-title-p-font">备注：</span><input class="bj-input bj-p-black-font" type="text" id="chrbz"
						v-model="chrbz" placeholder="请输入" />
				</h5>
				<h5 class="bj-ul-clear bj-title2-font">
					<span class="bj-title-p-font">支付证书：</span>
					<div id="uploader" class="wu-example">
						<!--用来存放文件信息-->
						<div class="btns">
							<button id="chbtn" type="button">选择文件</button>
						</div>
						<div id="file-list"></div>
					</div>
				</h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">报告人：</span>
                        <input class="bj-input bj-p-black-font bj-disable" type="text" id="chrbgrmc" v-model="chrbgrmc"   placeholder="报告人" />
                        <input class="bj-input bj-p-black-font " type="hidden" id="intbgrid" v-model="intbgrid"   placeholder="报告人" />
                </h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">审批流程状态：</span>
				
					<input class="bj-input bj-p-black-font" type="hidden" id="intsplcztid" name="intsplcztid" v-model="intsplcztid" placeholder="审批流程状态" />
					<input class="bj-input bj-p-black-font" type="text" id="chrsprmc" name="chrsprmc" v-model="chrsprmc" v-on:click="splcPicker()"  placeholder="审批流程状态" />
					<button class="mui-btn mui-btn-blue" type="button" v-on:click="txsp">提醒审批</button>
				</h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">审批状态日期：</span>
                <input class="bj-input bj-p-black-font " type="text" id="dtmspztrq" v-model="dtmspztrq"  v-on:click="datePicker('dtmspztrq')" placeholder="请选择"/>
            </h5>
				
			</div>
		</form>
	</div>
	<script src="../js/mui.min.js"></script>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mui.picker.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="../js/mui.poppicker.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="../js/mui.picker.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="../libs/layui/layui.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/project_pay_record_add.js" type="text/javascript"
		charset="utf-8"></script>
</body>

</html>