<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>材料样板审批记录详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css"/>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">材料样板审批记录</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="edit()">编辑</button>
		</header>
		<div class="mui-content" id="list">

			<form id="form">
				<div class="mui-content-padded">
					<h5 class="bj-title2-font">报告日期：
						<span class="bj-p-gray-font" id="dtmgxrq">2018-8-9</span>
					</h5>
					<h5 class="bj-title2-font">材料样板类型：
						<span class="bj-p-gray-font" id="intclyblx">材料样板类型</span>
					</h5>
					<h5 class="bj-title2-font">施工负责单位：
						<span class="bj-p-gray-font" id="intsgdw">施工负责单位</span>
					</h5>
					<h5 class="bj-title2-font">是否替代品：
						<span class="bj-p-gray-font" id="intsfdtp">是否替代品</span>
					</h5>
					<h5 class="bj-title2-font">材料样板名称：
						<span class="bj-p-gray-font" id="chrybmc">材料样板名称</span>
					</h5>
					<h5 class="bj-title2-font">材料使用位置：
						<span class="bj-p-gray-font" id="chrybwz">材料使用位置</span>
					</h5>
					<h5 class="bj-title2-font">品牌及技术资料：
						<table  border="1" cellspacing="5" cellpadding="5">
							<tr>
								<td>品牌1</td>
								<td>品牌2</td>
								<td>品牌3</td>
							</tr>
							<tr style="height: 20px">
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>品牌4</td>
								<td>品牌5</td>
								<td>品牌6</td>
							</tr>
							<tr style="height: 20px">
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</h5>
					<h5 class="bj-title2-font">技术资料：
						<table border="1" cellspacing="5" cellpadding="5">
							<tr>
								<td>品牌1</td>
								<td>品牌2</td>
								<td>品牌3</td>
							</tr>
							<tr style="height: 20px">
								<td>  </td>
								<td>  </td>
								<td>  </td>
							</tr>
							<tr>
								<td>品牌4</td>
								<td>品牌5</td>
								<td>品牌6</td>
							</tr>
							<tr style="height: 20px">
								<td> </td>
								<td>  </td>
								<td>  </td>
							</tr>
						</table>
					</h5>
					<h5 class="bj-title2-font">规范标准：
						<span class="bj-p-gray-font" id="chrgfbz">规范标准</span>
					</h5>
					<h5 class="bj-title2-font">备注：
						<span class="bj-p-gray-font" id="chrbz">备注</span>
					</h5>
					<ul class="bj-ul-clear bj-title2-font">材料样板文件：
						<li><a>12345678XX.pdf</a></li>
						<li><a>12345678XX.pdf</a></li>
					</ul>
					<h5 class="bj-title2-font">审批流程状态：<span class="bj-p-gray-font">审批流程状态</span>
						<input class="bj-input bj-p-black-font" type="hidden" id="intsplczt" name="intsplczt" placeholder="审批流程状态" />
						<input class="bj-input bj-p-black-font" type="hidden" id="chrsplczt" name="chrsplczt" placeholder="审批流程状态" disabled/>
					</h5>
				</div>
			</form>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_material_record_details.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>