<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css"/>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">
						规划指标数据
					</div>
				</div>
			</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="edit()">编辑</button>
		</header>
		<div class="mui-content" id="list">

			<form id="form">
				<div class="mui-content-padded">
					<h5 id="bj-xmmc">xx项目</h5>
					<h5 style="margin-left: 16px;"><span id="toright"></span>材料样板审批记录详情</h5>
					<hr />
					<h5 class="bj-title2-font"><span class="bj-title-p-font">报告日期：</span>
						<span class="bj-p-gray-font" id="dtmgxrq"></span>
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">材料样板类型：</span>
						<span class="bj-p-gray-font" id="intclyblx"></span>
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">施工负责单位：</span>
						<span class="bj-p-gray-font" id="intsgdw"></span>
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">是否替代品：</span>
						<span class="bj-p-gray-font" id="intsfdtp"></span>
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">材料样板名称：</span>
						<span class="bj-p-gray-font" id="chrybmc"></span>
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">材料使用位置：</span>
						<span class="bj-p-gray-font" id="chrybwz"></span>
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">品牌及技术资料：</span>
						<table id="jszlTable">
						  <thead>
						    <tr>
						      <th>品牌</th>
						      <th>技术资料</th>
						    </tr>
						  </thead>
						  <tbody  id="jszlNr">
						    <!--<tr>
						      <td data-label="品牌">{{item.chrzbmc}}</td>
						      <td data-label="技术资料">{{item.chrzbz}}</td>
						    </tr>-->
						    
						  </tbody>
						</table>
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">规范标准：</span>
						<span class="bj-p-gray-font" id="chrgfbz"></span>
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">备注：</span>
						<span class="bj-p-gray-font" id="chrbz"></span>
					</h5>
					<h5 class="bj-ul-clear bj-title2-font"><span class="bj-title-p-font">材料样板文件：</span>
					    <div id="file-list">
                        </div>
					</h5>
					<h5 class="bj-title2-font"><span class="bj-title-p-font">审批流程状态：</span><span class="bj-p-gray-font" id="chrsplczt"></span>
					</h5>
				</div>
			</form>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_material_record_details.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>