<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>基础施工</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0);" onclick="outPage()"></a>
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="edit()">编辑</button>
		</header>
		<div class="mui-content" id="app">
			<div class="mui-content-padded">
				<h5 class="bj-title2-font">报告日期：<span class="bj-p-gray-font">{{dtmbgrq}}</span></h5>
				<h5 class="bj-title2-font">施工位置：<span class="bj-p-gray-font">{{chrsgwzmc}}</span></h5>
				<h5 class="bj-title2-font" v-if="intsgwzid==-1">施工位置描述：<span class="bj-p-gray-font">{{chrsgwzms}}</span></h5>
				<h5 class="bj-title2-font">基础类型：<span class="bj-p-gray-font">{{chrjclx}}</span></h5>
				<h5 class="bj-title2-font" v-if="intjclx==3">桩基础总数量：<span class="bj-p-gray-font">{{intzjczsl}}</span></h5>
				<h5 class="bj-title2-font" v-if="intjclx==3">桩基础完成数量：<span class="bj-p-gray-font">{{intzjcwcl}}</span></h5>
				<h5 class="bj-title2-font">完成量(百分比)：<span class="bj-p-gray-font">{{intwcl}}</span></h5>
				<h5 class="bj-title2-font">浇筑砼日期：<span class="bj-p-gray-font">{{dtmjzqrq}}</span></h5>
				<h5 class="bj-title2-font">报告人：<span class="bj-p-gray-font">{{chrbgrmc}}</span></h5>
				<h5 class="bj-title2-font">照片：</h5>
				<div id="uploader" class="wu-example">
                        <div id="img-list" class="mui-table-view mui-table-view-chevron mui-grid-view">
                        </div>
                </div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_progress_record_baseDetail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>