<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>质量缺陷报告</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0);" onclick="outPage()"></a>
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="openAdd()">新增</button>
		</header>
		<div class="mui-content" id="list">
			<ul class="mui-table-view bj-title2-font bj-background-inherit"> 
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#" onclick="showQuaReportList('1','tjQua')">土建类质量缺陷记录</a>
		            	<ul class="mui-table-view bj-background-inherit" id="tjQua"> 
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#" onclick="showQuaReportList('2','jdQua')">机电类质量缺陷记录</a>
		            	<ul class="mui-table-view bj-background-inherit" id="jdQua"> 
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#" onclick="showQuaReportList('3','zxQua')">装修类质量缺陷记录</a>
		            	<ul class="mui-table-view bj-background-inherit" id="zxQua"> 
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#" onclick="showQuaReportList('4','ylQua')">园林类质量缺陷记录</a>
		            	<ul class="mui-table-view bj-background-inherit" id="ylQua"> 
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#" onclick="showQuaReportList('5','qtQua')">其他质量缺陷记录</a>
		            	<ul class="mui-table-view bj-background-inherit" id="qtQua"> 
		    			</ul>
		        </li>
		    </ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_quality_report.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
