<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>主要工期节点比较</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../css/mui.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/app.css"/>
        <link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
        <link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
        <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
        <style type="text/css">
            .icon{
                height: 15px!important
            }
            .addbtn{
                padding: 10px 30px
            }
            .mleft10{
				margin-left: 10px!important;
			}
            .mleft30{
                margin-left: 30px!important;
            }
          [v-cloak] { 
            display: none; 
          } 
        </style>
    </head>
        
    <body>
        <header class="mui-bar mui-bar-nav">
            <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
            <h1 class="mui-title">
                <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <div class="mui-scroll" id="title-scroll">

                    </div>
                </div>
            </h1>
            <button id="confirmBtn" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">新增</button>
        </header>
        <div class="mui-content" id="app" v-cloak>
            <ul class="mui-table-view"> 
                <li class="mui-table-view-cell" v-on:click="openQqbj">前期报建</li>
                <li class="mui-table-view-cell" v-on:click="openJc">基础</li>
                <li class="mui-table-view-cell" v-on:click="toggle('zt')">主体</li>
                <ul class="mui-table-view bj-background-inherit mleft10" v-show="ztShow">
			        <li class="mui-table-view-cell mui-collapse" v-for="item in zt">
			            <a class="mui-navigate-right" href="javascript:void(0);">{{item.chrjdmc}}<span class="mui-badge addbtn"  v-on:click.stop="add(item.id)">+</span></a>
			            	<ul class="mui-table-view " style="overflow-x: scroll;"> 
			            		<table>
					        		<thead>
							    		<tr>
										<th>名称</th>
										<th>计划完成时间</th>
										<th>实际完成时间</th>
										<th>工期(+)提前/(-)延后</th>
							    		</tr>
							  	</thead>
							  	<tbody>
							    		<tr v-for="child in item.childList">
							    			<td data-label="名称">{{child.chrjdmc}}</td>
										<td data-label="计划完成时间">{{child.dtmjhwcsj}}</td>
										<td data-label="实际完成时间">{{child.dtmsjwcsj}}</td>
										<td data-label="工期(+)提前/(-)延后">{{computedDay(child.dtmjhwcsj,child.dtmsjwcsj)}}</td>
							    		</tr>
							  </tbody>
						  </table>
			    			</ul>
			        </li>
				</ul>
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#"><img class="mui-media-object  icon" >专项及竣工</a>
                        <ul class="mui-table-view bj-background-inherit"> 
	                        <li class="mui-table-view-cell mui-collapse" >专项验收</li>
	                        <ul class="mui-table-view  bj-background-inherit mleft30" >
	                                <li class="mui-table-view-cell">
	                                   <table>
	                                       <tr>
		                                       <td>名称</td>
		                                       <td>计划完成时间</td>
		                                       <td>实际完成时间</td>
		                                       <td>工期(+提前,-延后)</td>
	                                       </tr>
	                                       <tr v-for="item in zxys">
                                               <td>{{item.chrjdmc}}</td>
                                               <td>{{item.dtmjhwcsj}}</td>
                                               <td>{{item.dtmsjwcsj}}</td>
                                               <td>{{computedDay(item.dtmjhwcsj,item.dtmsjwcsj)}}</td>
                                           </tr>
	                                   </table>
	                                </li>
	                        </ul>       
                        </ul>
                        <ul class="mui-table-view bj-background-inherit"> 
                            <li class="mui-table-view-cell mui-collapse" >竣工验收</span></li>
                            <ul class="mui-table-view  bj-background-inherit mleft30" >
                                    <li class="mui-table-view-cell">
                                       <table>
                                           <tr>
                                               <td>名称</td>
                                               <td>计划完成时间</td>
                                               <td>实际完成时间</td>
                                               <td>工期(+提前,-延后)</td>
                                           </tr>
                                           <tr v-for="item in jgys">
                                               <td>{{item.chrjdmc}}</td>
                                               <td>{{item.dtmjhwcsj}}</td>
                                               <td>{{item.dtmsjwcsj}}</td>
                                               <td>{{computedDay(item.dtmjhwcsj,item.dtmsjwcsj)}}</td>
                                           </tr>
                                       </table>
                                    </li>
                            </ul>       
                        </ul>
                </li>
            </ul>
        </div>
        <script src="../js/mui.min.js"></script>
        <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/project_timenode_comparison.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
