<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>项目管理平台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css"/>
	<link rel="stylesheet" href="../css/mui.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
	<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
	<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
	<style type="text/css">
		[v-cloak] {
				display: none;
		}
	</style>
</head>

<body>
<header class="mui-bar mui-bar-nav">
	<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
	<h1 class="mui-title">
		<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<div class="mui-scroll" id="title-scroll">

			</div>
		</div>
	</h1>
	<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="save()">保存</button>
</header>
<div class="mui-content" id="app" v-cloak>

	<form id="myform">
		<div class="mui-content-padded">
			<h5 id="bj-xmmc">xx项目</h5>
			<h5 style="margin-left: 16px;"><span id="toright"></span>工程/顾问变更记录详情</h5>
			<hr />
			<input class="bj-input bj-p-black-font" type="hidden" id="intxmid" v-model="intxmid" placeholder="项目id" />
				<input class="bj-input bj-p-black-font" type="hidden" id="id" v-model="id" placeholder="业务id" />
				<input class="bj-input bj-p-black-font" type="hidden" id="fileIds" placeholder="文件ids" />
			<h5 class="bj-title2-font"><span class="bj-title-p-font">更新日期：</span>
				<input class="bj-input bj-p-black-font bj-disable" type="text" id="dtmgxrq" v-model="dtmgxrq"/>
			</h5>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">报告日期：</span>
                        <input class="bj-input bj-p-black-font"  readonly="readonly" type="text" id="dtmbgrq" v-on:click="datePicker('dtmbgrq')" v-model="dtmbgrq" placeholder="请选择" />
            </h5>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">变更申请类型：</span>
				<input class="bj-input bj-p-black-font" type="hidden" id="intbgsqlx"  v-model="intbgsqlx"placeholder="变更申请类型" />
				<input class="bj-input bj-p-black-font" type="text" id="chrbgsqlx" v-model="chrbgsqlx" v-on:click="bglxPicker()" placeholder="变更申请类型" />
			</h5>
			<h5 class="bj-title2-font">
                                          <span class="bj-title-p-font">单位名称：</span> <input class="bj-input bj-p-black-font" type="hidden"
                        id="intdwmcid" v-model="intdwmcid" placeholder="请选择" /> <input
                        class="bj-input bj-p-black-font" type="text" id="chrdwmc"
                        v-model="chrdwmc" v-on:click="dwPicker" placeholder="请选择" />
            </h5>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">变更申请编号：</span>
				<input class="bj-input bj-p-black-font" type="text" id="chrbgsqbh" v-model="chrbgsqbh" placeholder="变更申请编号" />
			</h5>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">变更申请名称：</span>
				<input class="bj-input bj-p-black-font" type="text" id="chrbgsqmc" v-model="chrbgsqmc" placeholder="变更申请名称" />
			</h5>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">是否取替之前变更申请：</span>
				<input class="bj-input bj-p-black-font" type="hidden" id="intsfqd" v-model="intsfqd" placeholder="是否取替之前变更申请" />
				<input class="bj-input bj-p-black-font" type="text" id="chrsfqd" v-model="chrsfqd" v-on:click="sfPicker()" onblur="onShqt()" placeholder="是否取替之前变更申请" />
			</h5>
			<h5 class="bj-title2-font" v-show="intsfqd==1"><span class="bj-title-p-font">取替变更编号：</span>
				<input class="bj-input bj-p-black-font" type="text" id="chrqtbgbh" v-model="chrqtbgbh" v-on:click="qtbgbhPicker()" placeholder="取替变更编号" />
				<input class="bj-input bj-p-black-font" type="hidden" id="intbgthid" v-model="intbgthid"  placeholder="取替变更id" />
			</h5> 
			<h5 class="bj-title2-font"><span class="bj-title-p-font">变更详情：</span>
				<input class="bj-input bj-p-black-font" type="text" id="chrbgxq" v-model="chrbgxq" placeholder="变更详情" />
			</h5>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">工期影响：</span>
				<input class="bj-input bj-p-black-font" type="text" id="intgqyx" v-model="intgqyx" placeholder="工期影响" />
			</h5>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">变更估算：</span>
				<input class="bj-input bj-p-black-font" type="number" id="intbggs" v-model="intbggs" onblur="setGgjeSum()" placeholder="变更估算" />
			</h5>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">潜在变更总金额：</span>
				<input class="bj-input bj-p-black-font bj-disable" type="number" id="intqzbgzje" v-model="intqzbgzje" placeholder="潜在变更总金额" />
			</h5>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">合同占比：</span>
				<input class="bj-input bj-p-black-font bj-disable" type="number" id="inthtzb" v-model="inthtzb" placeholder="合同占比" />
			</h5> 
			<h5 class="bj-title2-font"><span class="bj-title-p-font">备注：</span>
				<input class="bj-input bj-p-black-font" type="text" id="chrbz" v-model="chrbz" placeholder="备注" />
			</h5>

			<h5 class="bj-title2-font">变更申请文件：</h5>
			<div id="uploader" class="wu-example">
				<!--用来存放文件信息-->
				<div class="btns">
					<button id="chbtn"  type="button">选择文件</button>
				</div>
				<div id="file-list">
				</div>
			</div>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">审批流程状态：</span>
				
				<input class="bj-input bj-p-black-font" type="hidden" id="intsplcztid" name="intsplcztid" v-model="intsplcztid" placeholder="审批流程状态" />
				<input class="bj-input bj-p-black-font" type="text" id="chrsprmc" name="chrsprmc" v-model="chrsprmc" v-on:click="splcPicker()"  placeholder="审批流程状态" />
				<button class="mui-btn mui-btn-blue" type="button" v-on:click="txsp">提醒审批</button>
			</h5>
			<h5 class="bj-title2-font"><span class="bj-title-p-font">审批状态日期：</span>
                <input class="bj-input bj-p-black-font " type="text" id="dtmspztrq" v-model="dtmspztrq"  v-on:click="datePicker('dtmspztrq')" placeholder="请选择"/>
            </h5>
			
		</div>
	</form>
</div>
<script src="../js/mui.min.js"></script>
<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="js/project_change_record_add.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>