<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		<style type="text/css">
			.icon{
				height: 15px!important
			}
			.addbtn{
				padding: 10px 30px;
				margin-right: 20px;
			}
			.mleft10{
				margin-left: 10px!important;
			}
			.mleft30{
				margin-left: 30px!important;
			}
          [v-cloak] { 
            display: none; 
          } 
          
		</style>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		</header>
		<div class="mui-content" id="app" v-cloak>
			<div class="no-marginleft">
			<h5 id="bj-xmmc" >项目</h5>
			<h5 style="margin-left: 16px;"><span id="toright"></span>项目进度记录</h5>
			</div>
			<hr />
			<ul class="mui-table-view bj-title2-font"> 
			     <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">前期报建</a>
                        <ul class="mui-table-view"> 
                            <li class="mui-table-view-cell mui-collapse  mleft10" v-for="item in qqbj" v-on:click="openQqbj(item.id,item.chrjdmc)">{{item.chrjdmc}}</li>
                        </ul>
                </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">基础施工</a>
		            	<ul class="mui-table-view"> 
				        <li class="mui-table-view-cell mui-collapse  mleft10" v-for="item in dls" v-on:click="openJC(item.value,item.text)">{{item.text}}</li>
				        <li class="mui-table-view-cell mui-collapse mleft10" v-on:click="toggle('jc')">其他<span class="mui-badge addbtn" type="JC">+</span><span :class="jcShow?'nav-right':'nav-right mui-active'"></li>
				        <ul class="mui-table-view  mleft30" v-show="jcShow">
						    	<li class="mui-table-view-cell" v-for="item in qts.jc"  v-on:click="openQT('jc',item.intsgwzid,item.id)">{{item.chrsgwzms}}</li>
						</ul>		
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">主体结构施工</a>
		            	<ul class="mui-table-view"> 
				        <li class="mui-table-view-cell mui-collapse mleft10" v-for="item in dls" v-on:click="openZT(item.value,item.text)">{{item.text}}</li>
				        <li class="mui-table-view-cell mui-collapse mleft10" v-on:click="toggle('zt')">其他<span class="mui-badge addbtn"  type="ZT">+</span><span :class="ztShow?'nav-right':'nav-right mui-active'"></li>
				        <ul class="mui-table-view  mleft30" v-show="ztShow">
						    	<li class="mui-table-view-cell" v-for="item in qts.zt"  v-on:click="openQT('zt',item.intsgwzd,item.id)">{{item.chrsgwzms}}</li>
						</ul>		
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">二次结构、装修等施工</a>
		            	<ul class="mui-table-view"> 
				        <li class="mui-table-view-cell mui-collapse mleft10" v-for="item in dls" v-on:click="openEC(item.value)">{{item.text}}</li>
				        <li class="mui-table-view-cell mui-collapse mleft10" v-on:click="toggle('ec')">其他<span class="mui-badge addbtn"  type="EC">+</span></li>
				        <ul class="mui-table-view  mleft30" v-show="ecShow">
						    	<li class="mui-table-view-cell" v-for="item in qts.ec" v-on:click="openQT('ec','',item.id)">{{item.chrsgwz}}</li>
						</ul>		
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse" >
		            <a class="mui-navigate-right" href="#">电梯设备安装施工<!--<span id="ztsbSpanNum" class="mui-badge mui-badge-primary">{{dls.length}}</span>--></a>
		            	<ul class="mui-table-view"  v-for="(item,index) in dls"> 
				            <li class="mui-table-view-cell mui-collapse mleft10"  v-on:click="openDTbh(item.value,index)">{{item.text}}<span class="mui-badge mui-badge-primary">{{dlcount(allDtList,item.value)}}</span><span class="mui-badge addbtn" type="DT" :sgwz="item.value" dtbh="" >+</span></li>
				            <ul class="mui-table-view  mleft30" v-show="dtShow[index]">
                                <li class="mui-table-view-cell" v-for="row in dtList" v-on:click="openDT(row.id,row.intsgwz,row.chrdtbh)">{{row.chrdtbh}}&nbsp;&nbsp;&nbsp;&nbsp;{{row.dtmdqrq}}</li>
                            </ul>   
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse"  v-on:click="openSW()">
		        	
		            室外管网施工
		        </li>
		        <li class="mui-table-view-cell mui-collapse"  v-on:click="openYL()">
		        	
		        		园林施工
		        </li>
		        
		    </ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_progress_record.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
