<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>规划指标数据</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">规划指标数据</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="edit()">更新</button>
		</header>
		<div class="mui-content" id="app">
			<ul class="mui-table-view mui-grid-view mui-grid-9" >
				<div :id="item.id" class="mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12"
					v-for="item in list" style="border:solid 1px dodgerblue ;">
					<input class="bj-input" v-model="item.chrzbmc" placeholder="请输入指标"></input>
					<input class="bj-input" v-model="item.intzbz" placeholder="请输入指标值"></input>
				</div>
				<button class="mui-btn mui-btn-primary" type="button" style="margin-bottom: 5px;" v-on:click="add">增加品牌</button>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_basis_targetData_edit.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>