<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<style type="text/css"> 
          [v-cloak] { 
            display: none; 
          } 
        </style> 
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button id="editBtn"  class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="edit()">更新</button>
		</header>
		<div class="mui-content" id="app" v-cloak>
			<div class="mui-content-padded">
				<h5 id="bj-xmmc" >项目</h5>
				<h5 style="margin-left: 16px;"><span id="toright"></span>项目进度记录</h5>
				<h5 style="margin-left: 32px;"><span id="toright"></span>二次结构、装修等施工</h5>
				<hr />
				<h5 class="bj-title2-font"><span class="bj-title-p-font">更新日期：</span><span class="bj-p-gray-font" >{{dtmgxrq}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">楼栋号：</span><span class="bj-p-gray-font">{{chrdmc}}</span></h5>
				<h5 class="bj-title2-font">完成量：(百分比)</h5>
	            <!--<table width="100%" class="bj-p-black-font" border="1px" style="text-align: center;">
		            	<thead>
			            	<tr>
			            		<th>楼层</th>
			            		<th>门窗</th>
			            		<th>防水</th>
			            		<th>内保温</th>
			            		<th>砌墙</th>
			            		<th>装修</th>
			            	</tr>
		            	<thead>
		            	 <tbody id="wclTableTbody">
                           <tr v-for="(item,index) in xmSgjdEcjgzxWclList">
                            <td>{{item.chrlc}}</td>
                            <td>{{item.intmc}}</td>
                            <td>{{item.intfs}}</td>
                            <td>{{item.intnbw}}</td>
                            <td>{{item.intqt}}</td>
                            <td>{{item.intzx}}</td> 
                        </tr>
	            </table>-->
	             <div style="overflow-x: scroll;">
		            <table>
					  <thead>
					    <tr>
					      <th>楼层</th>
					      <th>门窗</th>
					      <th>防水</th>
					      <th>保温</th>
					      <th>砌墙</th>
					      <th>装修</th>
					    </tr>
					  </thead>
					  <tbody id="wclTableTbody">
					    <tr v-for="(item,index) in xmSgjdEcjgzxWclList">
					      <td data-label="楼层">{{item.chrlc}}</td>
					      <td data-label="门窗">{{(item.intmc||"/")|decimalFilter}}</td>
					      <td data-label="防水">{{(item.intfs||"/")|decimalFilter}}</td>
					      <td data-label="保温">{{(item.intnbw||"/")|decimalFilter}}</td>
					      <td data-label="砌墙">{{(item.intqt||"/")|decimalFilter}}</td>
					      <td data-label="装修">{{(item.intzx||"/")|decimalFilter}}</td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">报告人：</span><span class="bj-p-gray-font">{{chrbgrmc}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">备注：</span><span class="bj-p-gray-font">{{chrbz}}</span></h5>
			</div>
		</div>
		  <script src="../js/mui.min.js"></script>
        <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/common.js?v=1" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/project_progress_record_secDetail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>