<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>室外管网施工</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css"/>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0);" onclick="outPage()"></a>
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="save()">保存</button>
		</header>
		<div class="mui-content" id="app">
		     <form action="" id="myform">
			<div class="mui-content-padded">
			     <input class="bj-input bj-p-black-font " type="hidden" id="fileIds" />
                 <input class="bj-input bj-p-black-font " type="hidden" id="id" v-model="id"/>
                 <input class="bj-input bj-p-black-font " type="hidden" id="intxmid" v-model="intxmid"/>
				<h5 class="bj-title2-font">更新日期：
				    <input class="bj-input bj-p-black-font bj-disable" type="text" id="dtmgxrq" v-model="dtmgxrq" v-on:click="datePicker('dtmgxrq')"/>
				</h5>
				<h5 class=" bj-title2-font">最新版csd图纸：
                        <div id="uploader" class="wu-example" style="margin-bottom: 15px;">
                            <!--用来存放文件信息-->
                            <div class="btns">
                                <button id="chbtn" type="button">选择文件</button>
                            </div>
                            <div id="file-list">
                            </div>
                        </div>
                </h5>
				<h5 class="bj-title2-font">CSD图纸通过审批日期：
					<input class="bj-input bj-p-black-font"   readonly="readonly"  id="dtmsprq" v-model="dtmsprq" v-on:click="datePicker('dtmsprq')" placeholder="请选择日期" />
				</h5>
				
				<ul id="xLul" class="">
				    <!-- <div name="lxDiv" style="padding-top: 4px;" v-for="(value,key) in xmSgjdSwgwsgJdListMap">
					    <div>
					        <input type="hidden" placeholder="" name="intswgwlxid" :value="value.length>0?value[0].intswgwlxid:''">
	                        <input type="text" placeholder="请输入类型名称" name="chrswgwlx" :value="key" style="width:100%">
	                    </div>
	                    <div>
	                       <ul class="mui-table-view bj-background-inherit" v-for="row in value"><li style="padding: 5px 20px 0px 20px;">
	                                   <button class="mui-btn mui-btn-danger" type="button"  :onclick="'delQy(\''+row.id+'\',this,event)'">删除区域</button>
	                              </li>
	                              <li style="padding: 5px 20px 0px 20px;">
	                                    <input class="bj-input" name="intswgwsgjdid" type="hidden" :value="row.id"></input>
								        <input class="bj-input" :id="'fileIds'" name="fileIds" type="hidden" value=""></input>
								                    施工区域：<input class="bj-input" name="chrsgqy" type="text" :value="row.chrsgqy"></input>
	                              </li>
	                              <li style="padding: 5px 20px 0px 20px;">
	                                                                                               完成量：<input class="bj-input" name="intwcl" type="number" :value="row.intwcl"></input>
	                              </li>
	                              <li style="padding: 5px 20px 0px 20px;">
							                                       完成情况：<div id="uploader" class="wu-example"><div class="btns">
						            <button id="" type="button">选择文件</button></div><div id=""></div>
	                              </li>
	                              <li style="padding: 5px 20px 0px 20px;">
	                                                                                                    备注：<input class="bj-input" name="chrbz" type="text" :value="row.chrbz"></input>
	                              </li>
	                       </ul>
	                    </div><span><button type="button" class="mui-btn mui-btn-primary" style="margin-top: 2px;margin-right:65px" onclick="addQy({},this)">新增区域</button><button type="button" class="mui-btn mui-btn-danger" style="margin-top: 2px;" :onclick="'delLx(\''+(value.length>0?value[0].intswgwlxid:'')+'\',this)'">删除类型</button></span>
				    </div> -->
				</ul>
				
				<button class="mui-btn mui-btn-primary" type="button" style="margin-top: 5px;" v-on:click="addLx">新增类型</button>
				<h5 class="bj-title2-font">报告人：
                    <input class="bj-input bj-p-black-font" type="hidden" id="intbgrid" v-model="intbgrid" placeholder="报告人" />
                    <input class="bj-input bj-p-black-font bj-disable" type="text" id="chrbgrmc" v-model="chrbgrmc" placeholder="报告人名称" />
                </h5>
			</div>
			</form>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_progress_record_outdoorAdd.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>