<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>所属区域及位置</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css"/>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">所属区域及位置</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="save()">保存</button>
		</header>
		<div class="mui-content" id="list">
			<div class="mui-content-padded">
				<form id="myform">
				    <input class="bj-input bj-p-black-font" type="hidden" id="fileIds"  placeholder="文件ids" />
					<h5 class="bj-title2-font">区域：
						<input class="bj-input bj-p-black-font" type="text" id="chrqy" placeholder="请输入区域" />
					</h5>
					<h5 class="bj-title2-font">位置：
						<input class="bj-input bj-p-black-font" type="text" id="chrwz" placeholder="请输入位置" />
					</h5>
					<h5 class="bj-title2-font">轨道交通：
						<input class="bj-input bj-p-black-font" type="text" id="chrgdjt" placeholder="请输入轨道交通" />
					</h5>
					<h5 class="bj-title2-font">周围状况：
						<input class="bj-input bj-p-black-font" type="text" id="chrzwzk" placeholder="请输入周围状况" />
					</h5>
				</form>
				<h5 class="bj-title2-font">项目效果图：</h5>
				<div id="uploader" class="wu-example">
				    <!--用来存放文件信息-->
				    <div class="btns">
				        <button id="chbtn" type="button">选择文件</button>
				    </div>
				    <div id="img-list" class="mui-table-view mui-table-view-chevron mui-grid-view">
				    </div>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_basis_address_edit.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>