<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>新增样板施工记录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css"/>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">样板施工记录</h1>
		</header>
		<div class="mui-content" id="list">

			<form id="form">
				<input type="hidden" id="id" name="id">
				<input type="hidden" id="intxmid" name="intxmid">
				<div class="mui-content-padded">
					<input type="hidden" id="fileIds" name="fileIds" title="附件ids">
					<h5 class="bj-title2-font">报告日期：
						<label id="dtmgxrqLabel">2018-10-07</label>
						<input class="bj-input bj-p-black-font" type="hidden" id="dtmgxrq" name="dtmgxrq" placeholder="请选择日期" />
					</h5>
					<h5 class="bj-title2-font">材料样板类型：
						<input class="bj-input bj-p-black-font" type="hidden" id="intclyblx" name="intclyblx" placeholder="材料样板类型" />
						<input class="bj-input bj-p-black-font" type="text" id="chrclyblx" name="chrclyblx" placeholder="材料样板类型" />
					</h5>
					<h5 class="bj-title2-font">施工负责单位：
						<input class="bj-input bj-p-black-font" type="hidden" id="intsgdw" name="intsgdw" placeholder="施工负责单位" />
						<input class="bj-input bj-p-black-font" type="text" id="chrsgdw" name="chrsgdw" placeholder="施工负责单位" />
					</h5>
					<h5 class="bj-title2-font">是否替代品：
						<input class="bj-input bj-p-black-font" type="hidden" id="intsfdtp" name="intsfdtp" placeholder="是否替代品" />
						<input class="bj-input bj-p-black-font" type="text" id="chrsfdtp" name="chrsfdtp" placeholder="是否替代品" />
					</h5>
					<h5 class="bj-title2-font">材料样板名称：
						<input class="bj-input bj-p-black-font" type="text" id="chrybmc" name="chrybmc" placeholder="材料样板名称" />
					</h5>
					<h5 class="bj-title2-font">材料使用位置：
						<input class="bj-input bj-p-black-font" type="text" id="chrybwz" name="chrybwz" placeholder="材料使用位置" />
					</h5>
					<h5 class="bj-title2-font">品牌及技术资料：
						<table>
							<tr>
								<td>品牌1</td>
								<td>品牌2</td>
								<td>品牌3</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>品牌4</td>
								<td>品牌5</td>
								<td>品牌6</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</h5>
					<h5 class="bj-title2-font">技术资料：
						<table>
							<tr>
								<td>品牌1</td>
								<td>品牌2</td>
								<td>品牌3</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>品牌4</td>
								<td>品牌5</td>
								<td>品牌6</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</h5>
					<h5 class="bj-title2-font">规范标准：
						<input class="bj-input bj-p-black-font" type="text" id="chrgfbz" name="chrgfbz" placeholder="规范标准" />
					</h5>
					<h5 class="bj-title2-font">备注：
						<input class="bj-input bj-p-black-font" type="text" id="chrzb" name="chrzb" placeholder="备注" />
					</h5>
					<h5 class="bj-title2-font">材料样板文件：</h5>
					<div id="uploader" class="wu-example">
						<!--用来存放文件信息-->
						<div class="btns">
							<button id="chbtn"  type="button">选择文件</button>
						</div>
						<div id="img-list">
						</div>
					</div>
					<h5 class="bj-title2-font">审批流程状态：
						<input class="bj-input bj-p-black-font" type="text" id="intsplczt" name="intsplczt" placeholder="审批流程状态" />
						<input class="bj-input bj-p-black-font" type="text" id="chrsplczt" name="chrsplczt" placeholder="审批流程状态" />
					</h5>
				</div>
			</form>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_safe_report_add.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>