<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
        <style type="text/css"> 
          [v-cloak] { 
            display: none; 
          } 
           .blue{
                  right: 85px !important;
              }
              
              .green{
                  right: 60px !important;
                  background-color: green;
              }
              
               .red{
                  background-color: red;
              }
              
            .mleft10{
                margin-left: 10px!important;
            }
            .mleft30{
                margin-left: 30px!important;
            }
          
        </style> 
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button id="editBtn" 
		     class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="openAdd()">新增</button>
		</header>
		<div class="mui-content" id="app">
			<div class="no-marginleft">
				
			<h5 id="bj-xmmc" >项目</h5>
			<h5 style="margin-left: 16px;"><span id="toright"></span>工程款申请/支付记录</h5>
			</div>
			<hr />
			<ul class="mui-table-view bj-title2-font bj-background-inherit"> 
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">顾问公司费用申请/支付情况<span class="mui-badge mui-badge-primary blue" v-cloak>{{gw.length}}</span>
		            <span  class="mui-badge mui-badge-primary green" v-cloak>{{gwGre}}</span><span  class="mui-badge mui-badge-primary red" v-cloak>{{gwRed}}</span></a>
		            	<ul class="mui-table-view" v-for="(item,key) in gwMap"> 
				       <!--  <li class="mui-table-view-cell mui-collapse" v-for="item in gw"  v-on:click="openDetail(item.id)">
				          <span :class="item.chrspzt=='wwc'?'img-r':'img-g'"></span>  &nbsp;&nbsp;  {{item.dtmgxrq}}  &nbsp;&nbsp; {{item.chrdwmc}} &nbsp;&nbsp; 第{{item.intbcsqqs}}期
				        </li> -->
				            <li class="mui-table-view-cell mui-collapse mleft10"  v-on:click="changeSwShow(key)">{{item[0]["chrdwmc"]}}</li>
                            <ul class="mui-table-view  mleft30" v-show="gwShow[key]">
                                <li class="mui-table-view-cell" v-on:click="openDetail(row.id)" v-for="row in item"><span :class="row.chrspzt=='wwc'?'img-r':'img-g'"></span>  &nbsp;&nbsp;  {{row.dtmgxrq}}  <!-- &nbsp;&nbsp; {{row.chrdwmc}} --> &nbsp;&nbsp; 第{{row.intbcsqqs}}期</li>
                            </ul>   
                        <!-- <li v-if="gw.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li> -->
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">施工单位工程款申请/支付情况<span class="mui-badge mui-badge-primary blue" v-cloak>{{sg.length}}</span>
		            <span  class="mui-badge mui-badge-primary green" v-cloak>{{sgGre}}</span><span  class="mui-badge mui-badge-primary red" v-cloak>{{sgRed}}</span></a>
		                <ul class="mui-table-view" v-for="(item,key) in sgMap"> 
                            <li class="mui-table-view-cell mui-collapse mleft10"  v-on:click="changeSgShow(key)">{{item[0]["chrdwmc"]}}</li>
                            <ul class="mui-table-view  mleft30" v-show="sgShow[key]">
                                <li class="mui-table-view-cell" v-on:click="openDetail(row.id)" v-for="row in item"><span :class="row.chrspzt=='wwc'?'img-r':'img-g'"></span>  &nbsp;&nbsp;  {{row.dtmgxrq}}  <!-- &nbsp;&nbsp; {{row.chrdwmc}} --> &nbsp;&nbsp; 第{{row.intbcsqqs}}期</li>
                            </ul>   
                        </ul>
				        <!--  <li v-if="sg.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li> -->
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">其他单位费用申请/支付情况<span class="mui-badge mui-badge-primary blue" v-cloak>{{qt.length}}</span>
		               <span  class="mui-badge mui-badge-primary green" v-cloak>{{qtGre}}</span><span  class="mui-badge mui-badge-primary red" v-cloak>{{qtRed}}</span></a>
		               <ul class="mui-table-view" v-for="(item,key) in qtMap"> 
                            <li class="mui-table-view-cell mui-collapse mleft10"  v-on:click="changeQtShow(key)">{{item[0]["chrdwmc"]}}</li>
                            <ul class="mui-table-view  mleft30" v-show="qtShow[key]">
                                <li class="mui-table-view-cell" v-on:click="openDetail(row.id)" v-for="row in item"><span :class="row.chrspzt=='wwc'?'img-r':'img-g'"></span>  &nbsp;&nbsp;  {{row.dtmgxrq}}  <!-- &nbsp;&nbsp; {{row.chrdwmc}} --> &nbsp;&nbsp; 第{{row.intbcsqqs}}期</li>
                            </ul>   
                        </ul>
				       <!--   <li v-if="qt.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li> -->
		        </li>
		    </ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_pay_record.js?v=2" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
