<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>基础</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../css/mui.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/app.css"/>
        <link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
        <link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
        <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
        <style type="text/css">
            li{
                list-style:none;
            }
            
          [v-cloak] { 
            display: none; 
          } 
        </style>
    </head>
        
    <body>
        <header class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">
                <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <div class="mui-scroll" id="title-scroll">

                    </div>
                </div>
            </h1>
            <button id="confirmBtn" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="save()">保存</button>
        </header>
        <div class="mui-content" id="app" v-cloak>
	        <div id="div" class="">
                 <div  name="oneDiv" style="padding-top: 4px;" v-for="(row,index) in list"><ul class="mui-table-view bj-background-inherit" id="oneUl" name="oneUl"><li style="padding: 5px 20px 0px 20px;"><button class="mui-btn mui-btn-danger" type="button"  :onclick="'delOne(\''+row.id+'\',this,event)'">删除栋楼</button></li>
                                  <li style="padding: 5px 20px 0px 20px;">
                                        <input class="bj-input" name="intgqjdbjid" id="intgqjdbjid" type="hidden" :value="row.id"></input>
                                                                                            序号：<input class="bj-input" name="intxh" id="intxh" type="number" maxlength="4" :value="row.intxh"></input>
                                  </li>
                                  <li style="padding: 5px 20px 0px 20px;">
                                                                                               名称：<input size="4" length="4" class="bj-input" name="chrjdmc" id="chrjdmc" type="text" :value="row.chrjdmc"></input>
                                  </li>
                                  <li style="padding: 5px 20px 0px 20px;">
                                                                                                完成时间：<input class="bj-input" name="dtmjhwcsj" id="dtmjhwcsj" v-on:click="datePicker('dtmjhwcsj')" type="text" :value="row.dtmjhwcsj"></input>
                                  </li>
                           </ul>
	            </div> 
	           </div>
	           <button v-if="gqjdbjid==''" class="mui-btn mui-btn-primary" type="button" style="margin-top: 5px;" v-on:click="addDl()">新增栋楼</button>
           </div>
        <script src="../js/mui.min.js"></script>
        <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/project_timenode_comparison_jcejedit.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
