<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>前期报建详情</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../css/mui.min.css" />
        <link rel="stylesheet" href="../css/app.css" />
        <style type="text/css"> 
          [v-cloak] { 
            display: none; 
          } 
        </style> 
    </head>

    <body>
        <header class="mui-bar mui-bar-nav">
            <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0);" onclick="outPage()"></a>
            <h1 class="mui-title">
                <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <div class="mui-scroll" id="title-scroll">

                    </div>
                </div>
            </h1>
<!--             <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="save()">更新</button> -->
        </header>
        <div class="mui-content" id="app" v-cloak>
            <h5 id="node" class="mui-table-view mui-grid-view mui-grid-9" >
                <table width="100%" class="bj-p-black-font" border="1px"
                    style="text-align: center;">
                    <tr style="height: 40px">
                        <th>序号</th>
                        <th>名称</th>
                        <th>计划完成时间</th>
                        <th>实际完成时间</th>
                        <th>工期+提前）（-延后）</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="item in list">
                        <td>{{item.intxh}}</td>
                        <td>{{item.chrjdmc}}</td>
                        <td>{{item.dtmjhwcsj}}</td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="mui-btn mui-btn-danger" style="margin-top: 3px;" v-on:click="updateNode(item.id)">更新</button>
                            <button class="mui-btn mui-btn-danger" style="margin-top: 3px;" v-on:click="deleteNode(item.id,$event)">删除</button>
                        </td>
                    </tr>
                </table>
            </h5>
        </div>
        <script src="../js/mui.min.js"></script>
        <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/project_timenode_comparison_yjedetails.js" type="text/javascript" charset="utf-8"></script>
        
    </body>

</html>