<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>工程款申请/支付情况</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
        <style type="text/css"> 
          [v-cloak] { 
            display: none; 
          } 
        </style> 
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0);" onclick="outPage()"></a>
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="openAdd()">新增</button>
		</header>
		<div class="mui-content" id="app">
			<ul class="mui-table-view bj-title2-font bj-background-inherit"> 
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">顾问公司费用申请/支付情况<span class="mui-badge mui-badge-primary" v-cloak>{{gw.length}}</span></a>
		            	<ul class="mui-table-view bj-background-inherit"> 
				        <li class="mui-table-view-cell mui-collapse" v-for="item in gw"  v-on:click="openDetail(item.id)">
				            {{item.chrdwmc}} &nbsp;&nbsp; {{item.dtmgxrq}} 
				        </li>
				        <li v-if="gw.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li>
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">施工单位工程款申请/支付情况<span class="mui-badge mui-badge-primary" v-cloak>{{sg.length}}</span></a>
		            	<ul class="mui-table-view bj-background-inherit"> 
				        <li class="mui-table-view-cell mui-collapse" v-for="item in sg"  v-on:click="openDetail(item.id)">
				             {{item.chrdwmc}} &nbsp;&nbsp; {{item.dtmgxrq}} 
				        </li>
				         <li v-if="sg.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li>
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">其他单位费用申请/支付情况<span class="mui-badge mui-badge-primary" v-cloak>{{qt.length}}</span></a>
		            	<ul class="mui-table-view bj-background-inherit"> 
				        <li class="mui-table-view-cell mui-collapse" v-for="item in qt"  v-on:click="openDetail(item.id)">
				             {{item.chrdwmc}} &nbsp;&nbsp; {{item.dtmgxrq}} 
				        </li>
				         <li v-if="qt.length==0" class="mui-table-view-cell mui-collapse"  >没有相关数据，请上传数据</li>
		    			</ul>
		        </li>
		    </ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_pay_record.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
