<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button id="editBtn"  class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="openNext()">编辑</button>
		</header>
		<div class="mui-content" id="list">
			<div class="mui-content-padded">
				<h5 id="bj-xmmc" >项目</h5>
				<h5 style="margin-left: 16px;"><span id="toright"></span>样板施工记录</h5>
				<hr />
				<h5 class="bj-title2-font"><span class="bj-title-p-font">更新日期：</span><span class="bj-p-gray-font" id="dtmgxrq"></span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">样板完成日期：</span><span class="bj-p-gray-font" id="dtmwcrq"></span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">现场样板类型：</span><span class="bj-p-gray-font" id="chryblx"></span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">样板描述：</span><span class="bj-p-gray-font" id="chrybms"></span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">样板位置：</span><span class="bj-p-gray-font" id="chrybwz"></span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">通过审批日期：</span><span class="bj-p-gray-font" id="dtmsprq"></span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">报告人：</span><span class="bj-p-gray-font" id="chrbgrmc"></span></h5>
				<h5 class="bj-title2-font">照片：</h5>
				<div id="uploader" class="wu-example">
                        <!--用来存放文件信息-->
                        <!--<div class="btns">
                            <button id="chbtn" type="button">选择文件</button>
                        </div>-->
                        <div id="img-list" class="mui-table-view mui-table-view-chevron mui-grid-view">
                        </div>
                </div>
                <h5 class="bj-title2-font"><span class="bj-title-p-font">备注：</span><br /><span class="bj-p-gray-font" id="chrbz"></span></h5>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_templet_record_detail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>