<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>主体结构施工</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">主体结构施工</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="openNext()">编辑</button>
		</header>
		<div class="mui-content" id="list">
			<div class="mui-content-padded">
				<h5 class="bj-title2-font">报告日期：<span class="bj-p-gray-font">2018-3-15</span></h5>
				<h5 class="bj-title2-font">施工位置：<span class="bj-p-gray-font">3#栋</span></h5>
				<h5 class="bj-title2-font">基础类型：<span class="bj-p-gray-font">桩基础400</span></h5>
				<h5 class="bj-title2-font">完成量：<span class="bj-p-gray-font">80%</span></h5>
				<h5 class="bj-title2-font">浇筑砼日期：<span class="bj-p-gray-font">李斯</span></h5>
				<h5 class="bj-title2-font">报告人：<span class="bj-p-gray-font">2018-8-8</span></h5>
				<h5 class="bj-title2-font">照片：</h5>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_photo_record_detail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>