<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<style type="text/css">
			.icon{
				height: 20px!important
			}
			[v-cloak] { 
	            display: none; 
	        } 
		</style>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		</header>
		<div class="mui-content" id="app" v-cloak>
			<h5 id="bj-xmmc" class="no-marginleft" >项目</h5>
			<hr />
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" onclick="openNext(1)"><img class="mui-media-object mui-pull-left icon" src="../images/xiang0.jpg">项目基本资料</li>
				<li class="mui-table-view-cell" onclick="openNext(2)"><img class="mui-media-object mui-pull-left icon" src="../images/jie.jpg">主要工期节点/比较</li>
				<li class="mui-table-view-cell" onclick="openNext(3)"><img class="mui-media-object mui-pull-left icon" src="../images/zhao.jpg">照片记录</li>
				<li class="mui-table-view-cell" onclick="openNext(4)"><img class="mui-media-object mui-pull-left icon" src="../images/xiang.jpg">项目进度记录</li>
				<li class="mui-table-view-cell" onclick="openNext(5)"><img class="mui-media-object mui-pull-left icon" src="../images/gong.jpg">样板施工记录</li>
				<li class="mui-table-view-cell" onclick="openNext(7)"><img class="mui-media-object mui-pull-left icon" src="../images/yang.jpg">材料样本审批记录</li>
				<li class="mui-table-view-cell" onclick="openNext(6)"><img class="mui-media-object mui-pull-left icon" src="../images/zhi.jpg">质量缺陷报告</li>
				<li class="mui-table-view-cell" onclick="openNext(8)"><img class="mui-media-object mui-pull-left icon" src="../images/b.jpg">工程/顾问变更记录</li>
				<li class="mui-table-view-cell" onclick="openNext(9)"><img class="mui-media-object mui-pull-left icon" src="../images/kuan.jpg">工程款申请/支付记录</li>
				<li class="mui-table-view-cell" onclick="openNext(10)"><img class="mui-media-object mui-pull-left icon" src="../images/an.jpg">安全报告</li>
				<li class="mui-table-view-cell" onclick="openNext(11)"><img class="mui-media-object mui-pull-left icon" src="../images/yan.jpg">政府部门巡查/专项验收记录</li>
				<li class="mui-table-view-cell" style="opacity: 0;">&nbsp;</li>
				<li class="mui-table-view-cell" style="opacity: 1;">&nbsp;</li>
				<li class="mui-table-view-cell" v-if="isck" onclick="openNext(12)"><img class="mui-media-object mui-pull-left icon" src="../images/yan.jpg">管理平台数据汇总</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_detail_list.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>