<!doctype html>
<html>

<head>
<meta charset="utf-8">
<title>项目管理平台</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="../css/mui.min.css" />
<link rel="stylesheet" type="text/css" href="../css/app.css" />
<style type="text/css"> 
          [v-cloak] { 
            display: none; 
          } 
</style> 
</head>

<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left"
			href="javascript:void(0);" onclick="outPage()"></a>
		<h1 class="mui-title">
			<div
				class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll" id="title-scroll"></div>
			</div>
		</h1>
		<button id="editBtn"  class="mui-btn mui-btn-blue mui-btn-link mui-pull-right"
			onclick="edit()">编辑</button>
	</header>
	<div class="mui-content" id="app" v-cloak>
		<div class="mui-content-padded">
			<h5 id="bj-xmmc" >项目</h5>
			<h5 style="margin-left: 16px;"><span id="toright"></span>项目进度记录</h5>
			<h5 style="margin-left: 32px;"><span id="toright"></span>园林施工</h5>
			<hr />
			<h5 class="bj-title2-font">
				<span class="bj-title-p-font">更新日期：</span><span class="bj-p-gray-font">{{dtmgxrq}}</span>
			</h5>
			<h5 class="bj-title2-font">
				<span class="bj-title-p-font">最新图纸：</span>
				<div id="file-list"></div>
		    </h5>
		<h5 class="bj-title2-font">
			<span class="bj-title-p-font">图纸审批日期：</span><span class="bj-p-gray-font">{{dtmsprq}}</span>
		</h5>
		<ul class="mui-table-view bj-title2-font bj-background-inherit">
			<li class="mui-table-view-cell mui-collapse  bj-background-inherit"
				v-for="row in xmSgjdYlsgJdList">
				<a
				class="mui-navigate-right" href="#">{{row.chrlxmc}}</a>
				<div class="mui-collapse-content  bj-background-inherit">
					<div  style="padding: 5px">
						<h5 class="bj-title2-font">
							<span class="bj-title-p-font">完成量：</span><span class="bj-p-gray-font">{{row.intwcl}}</span>
						</h5>
						<h5 class="bj-title2-font">
							<span class="bj-title-p-font">完成情况：</span>
							<div :id="'fileIds_'+row.id"></div>
						</h5>
						<h5 class="bj-title2-font">
							<span class="bj-title-p-font">备注：</span><span class="bj-p-gray-font">{{row.chrzb}}</span>
						</h5>
					</div>
				</div>
			</li>
		</ul>
		<h5 class="bj-title2-font">
			<span class="bj-title-p-font">报告人：</span><span class="bj-p-gray-font" id="chrbgrmc">{{chrbgrmc}}</span>
		</h5>
		</div>
	</div>
	<script src="../js/mui.min.js"></script>
    <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/project_progress_record_gardenDetail.js" type="text/javascript"
		charset="utf-8"></script>
</body>
</html>
