<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css" />
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<style type="text/css">
			td input{
				margin: 0px !important;
				border-radius: 0px !important;
				pointer-events:none !important;
			}
			[v-cloak] {
				display: none;
			}
		</style>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button id="editBtn"  class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="edit()">编辑</button>
		</header>
		<div class="mui-content" id="app" v-cloak>
			<div class="mui-content-padded">
				<h5 id="bj-xmmc" >项目</h5>
				<h5 style="margin-left: 16px;"><span id="toright"></span>工程款申请/支付情况</h5>
				<hr />
				
				<h5 class="bj-title2-font"><span class="bj-title-p-font">更新日期：</span><span class="bj-p-gray-font">{{isCk?dtmgxrq:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">报告日期：</span><span id="dtmgxrq" class="bj-p-gray-font">{{isCk?dtmbgrq:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">单位类型：</span><span class="bj-p-gray-font">{{isCk?chrdwlx:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">单位名称：</span><span class="bj-p-gray-font">{{isCk?chrdwmc:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">本次申请期数：</span><span class="bj-p-gray-font">{{isCk?intbcsqqs:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">本期申请金额：</span><span class="bj-p-gray-font">{{isCk?intbqsqje:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">本期核发金额：</span><span class="bj-p-gray-font">{{isCk?intbqhsffje:'*'}}</span></h5>
				<h5 class="bj-title2-font">申请支付情况：</h5>
				<table>
		          <thead>
				    <tr>
				      <th>合同金额A</th>
				      <th>潜在变更总金额B</th>
				      <th>累计已发放期数</th>
				      <th>累计发放金额C</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-label="合同金额A">{{isCk?inthtje:'*'}}</td>
				      <td data-label="潜在变更总金额B">{{isCk?intqzbgzje:'*'}}</td>
				      <td data-label="累计已发放期数">{{isCk?yfqs:'*'}}</td>
				      <td data-label="累计发放金额C">{{isCk?yfje:'*'}}</td>
				    </tr>
				  </tbody>
				  <thead>
				    <tr>
				      <th>B/A</th>
				      <th>本次申请金额D</th>
				      <th>本期核实发放金额E</th>
				      <th>D/E</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-label="B/A">{{isCk?BA:'*'}}</td>
				      <td data-label="本次申请金额D">{{isCk?intbqsqje:'*'}}</td>
				      <td data-label="本期核实发放金额E">{{isCk?intbqhsffje:'*'}}</td>
				      <td data-label="E/D">{{isCk?ED:'*'}}</td>
				    </tr>
				  </tbody>
				  <thead>
				    <tr>
				      <th>C/A</th>
				      <th>(C+E)/A</th>
				      <th>C/(A+B)</th>
				      <th>(C+E)/(A+B)</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-label="C/A">{{isCk?CA:'*'}}</td>
				      <td data-label="(C+E)/A">{{isCk?CEA:'*'}}</td>
				      <td data-label="C/(A+B)">{{isCk?CAB:'*'}}</td>
				      <td data-label="(C+E)/(A+B)">{{isCk?CEAB:'*'}}</td>
				    </tr>
				  </tbody>
	            </table>
				<h5 class="bj-ul-clear bj-title2-font"><span class="bj-title-p-font">支付证书：</span>
					
				    <div v-if="isCk" id="file-list">
                    </div>
				</h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">审批人：</span><span class="bj-p-gray-font">{{isCk?chrsplczt:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">审批结果：</span><span class="bj-p-gray-font">{{isCk?chrspjg:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">审批状态：</span><span class="bj-p-gray-font">{{isCk?chrspztmc:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">审批状态日期：</span><span class="bj-p-gray-font" id="dtmgxrq">{{isCk?dtmspztrq:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">报告人：</span><span class="bj-p-gray-font">{{isCk?chrbgrmc:'*'}}</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">备注：</span><span class="bj-p-gray-font">{{isCk?chrbz:'*'}}</span></h5>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_pay_record_detail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>