<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="edit()">更新</button>
		</header>
		<div class="mui-content mui-row" id="app">
			<div class="mui-row" id="list">
				<div class="mui-col-sm-3 mui-col-xs-6 bj-broder" v-for="item in pageData" >
					<input class="bj-input bj-p-black-font" style="margin-bottom: 0;" v-model="" type="" name="" id="" value="" placeholder="名称" />
					<input class="bj-input bj-p-black-font" style="margin-bottom: 0;" v-model="" type="" name="" id="" value="" placeholder="数据" />
				</div>
			</div>
			<button class="mui-btn mui-btn-primary" type="button" style="margin-bottom: 5px;" onclick="addZb()">增加品牌</button>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			//通过项目id判断是否有数据
			//增加指标资料
			var ppSum=0;
			function addZb(){
				ppSum +=1;
				var addLi=document.createElement('div');
				addLi.className="mui-col-sm-3 mui-col-xs-6 bj-broder";
				addLi.id=''+ppSum;
				addLi.innerHTML+=`
					<input class="bj-input bj-p-black-font" style="margin-bottom: 0;" type="" name="" id="" value="" placeholder="名称" />
					<input class="bj-input bj-p-black-font" style="margin-bottom: 0;" type="" name="" id="" value="" placeholder="数据" />
					<button class="mui-btn mui-btn-danger" style="margin-top: 3px;" onclick="deleteZb('`+ppSum+`')">删除</button>
				`;
				
				mui("#list")[0].appendChild(addLi);
			}
			//删除指标资料
			function deleteZb(id){
				mui("#list")[0].removeChild(mui("#"+id)[0]);
			}
		</script>	
	</body>

</html>