<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>新增工程_顾问变更记录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css"/>
	<link rel="stylesheet" href="../css/mui.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
	<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
	<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />

</head>

<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">工程_顾问变更记录</h1>
	<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="save()">保存</button>
</header>
<div class="mui-content" id="list">

	<form id="myform">
		<div class="mui-content-padded">
			<input type="hidden" id="fileIds" name="fileIds" title="图片ids">
			<h5 class="bj-title2-font">更新日期：
				<label id="dtmgxrq">2018-10-07</label>
			</h5>
			<h5 class="bj-title2-font">变更申请类型：
				<input class="bj-input bj-p-black-font" type="hidden" id="intbgsqlx" placeholder="变更申请类型" />
				<input class="bj-input bj-p-black-font" type="text" id="intbgsqlxxs"  placeholder="变更申请类型" />
			</h5>
			<h5 class="bj-title2-font">变更申请编号：
				<input class="bj-input bj-p-black-font" type="text" id="chrbgsqbh" placeholder="变更申请编号" />
			</h5>
			<h5 class="bj-title2-font">变更申请名称：
				<input class="bj-input bj-p-black-font" type="text" id="chrbgsqmc" placeholder="变更申请名称" />
			</h5>
			<h5 class="bj-title2-font">是否取替之前变更申请：
				<input class="bj-input bj-p-black-font" type="hidden" id="intsfqd" placeholder="是否取替之前变更申请" />
				<input class="bj-input bj-p-black-font" type="text" id="intsfqdxs" placeholder="是否取替之前变更申请" />
			</h5>
			<h5 class="bj-title2-font">取替变更编号：
				<input class="bj-input bj-p-black-font" type="hidden" id="chrqtbgbh" placeholder="取替变更编号" />
				<input class="bj-input bj-p-black-font" type="text" id="qtbgbh" placeholder="取替变更编号" />
			</h5>
			<h5 class="bj-title2-font">变更详情：
				<input class="bj-input bj-p-black-font" type="text" id="chrbgxq" placeholder="变更详情" />
			</h5>
			<h5 class="bj-title2-font">工期估算：
				<input class="bj-input bj-p-black-font" type="text" id="chrgqgs" placeholder="工期估算" />
			</h5>
			<h5 class="bj-title2-font">变更估算：
				<input class="bj-input bj-p-black-font" type="text" id="intbggs" placeholder="变更估算" />
			</h5>
			<h5 class="bj-title2-font">潜在变更总金额：
				<input class="bj-input bj-p-black-font" type="text" id="" placeholder="潜在变更总金额" />
			</h5>
			<h5 class="bj-title2-font">合同占比：
				<input class="bj-input bj-p-black-font" type="text" id="inthtzb" placeholder="合同占比" />
			</h5>
			<h5 class="bj-title2-font">备注：
				<input class="bj-input bj-p-black-font" type="text" id="chrbz" placeholder="备注" />
			</h5>

			<h5 class="bj-title2-font">变更申请文件：</h5>
			<div id="uploader" class="wu-example">
				<!--用来存放文件信息-->
				<div class="btns">
					<button id="chbtn"  type="button">选择文件</button>
				</div>
				<div id="img-list">
				</div>
			</div>
			<h5 class="bj-title2-font">审批流程状态：
				<input class="bj-input bj-p-black-font" type="hidden" id="intbgsqwj" name="intbgsqwj" placeholder="审批流程状态" />
				<input class="bj-input bj-p-black-font" type="text" id="chrbgsqwj" name="chrbgsqwj"  placeholder="审批流程状态" />
			</h5>
		</div>
	</form>
</div>
<script src="../js/mui.min.js"></script>
<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="js/project_change_record_add.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>