<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目承建各方名称</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />

	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0);" onclick="outPage()"></a>
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="save()">保存</button>
		</header>
		<div class="mui-content" id="list">
			<div class="mui-content-padded">
				<form id="myform">
					<h5 class="bj-title2-font">建设单位：
						<input class="bj-input bj-p-black-font" type="text" id="chrcjdwmc" placeholder="请输入" />
					</h5>
					<h5 class="bj-title2-font">代建单位：
						<input class="bj-input bj-p-black-font" type="text" id="chrdjdwmc" placeholder="请输入" />
					</h5>
					<h5 class="bj-title2-font">名单单位：
						<input class="bj-input bj-p-black-font" type="text" id="intlxmdxs" placeholder="请选择" />
						<input class="bj-input bj-p-black-font" type="hidden" id="intlxmd"  />
					</h5>
					<h5 class="bj-title2-font">单位类型：
						<input class="bj-input bj-p-black-font" type="text" id="intdwlxidxs" placeholder="请选择" />
						<input class="bj-input bj-p-black-font" type="hidden" id="intdwlxid"/>
					</h5>
					<h5 class="bj-title2-font">单位名称：
						<input class="bj-input bj-p-black-font" type="text" id="chrdwmc" placeholder="请输入" />
					</h5>
				</form>
			</div>
			<ul class="mui-table-view bj-title2-font bj-background-inherit"> 
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#" onclick="see()">已建单位</a>
		            <div class="mui-collapse-content">
		            		<!-- <h5 class="bj-title2-font">方案设计：<span class="bj-p-gray-font">单位</span></h5> -->
		            </div>
		        </li>
		    </ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_basis_buildUnits_edit.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
