<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css" />
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<style type="text/css">
			td input{
				margin: 0px !important;
				border-radius: 0px !important;
				pointer-events:none !important;
			}
			[v-cloak] {
				display: none;
			}
		</style>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="edit()">编辑</button>
		</header>
		<div class="mui-content" id="app" v-cloak>
			<div class="mui-content-padded">
				<h5 id="bj-xmmc">xx项目</h5>
				<h5 style="margin-left: 16px;"><span id="toright"></span>工程款申请/支付情况</h5>
				<hr />
				<h5 class="bj-title2-font">更新日期：<span class="bj-p-gray-font">{{dtmgxrq}}</span></h5>
				<h5 class="bj-title2-font">单位类型：<span class="bj-p-gray-font">{{chrdwlx}}</span></h5>
				<h5 class="bj-title2-font">单位名称：<span class="bj-p-gray-font">{{chrdwmc}}</span></h5>
				<h5 class="bj-title2-font">本次申请期数：<span class="bj-p-gray-font">{{intbcsqqs}}</span></h5>
				<h5 class="bj-title2-font">本期申请金额：<span class="bj-p-gray-font">{{intbqsqje}}</span></h5>
				<h5 class="bj-title2-font">本期核实发放金额：<span class="bj-p-gray-font">{{intbqhsffje}}</span></h5>
				<h5 class="bj-title2-font">申请/支付情况：</h5>
				<table>
		          <thead>
				    <tr>
				      <th>合同金额A</th>
				      <th>潜在变更总金额B</th>
				      <th>累计已发放期数</th>
				      <th>累计发放金额C</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-label="合同金额A">{{inthtje}}</td>
				      <td data-label="潜在变更总金额B">{{intqzbgzje}}</td>
				      <td data-label="累计已发放期数">{{yfqs}}</td>
				      <td data-label="累计发放金额C">{{yfje}}</td>
				    </tr>
				  </tbody>
				  <thead>
				    <tr>
				      <th>B/A</th>
				      <th>本次申请金额D</th>
				      <th>本期核实发放金额E</th>
				      <th>D/E</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-label="B/A">{{BA}}</td>
				      <td data-label="本次申请金额D">{{intbqsqje}}</td>
				      <td data-label="本期核实发放金额E">{{intbqhsffje}}</td>
				      <td data-label="D/E">{{DE}}</td>
				    </tr>
				  </tbody>
				  <thead>
				    <tr>
				      <th>C/A</th>
				      <th>(C+E)/A</th>
				      <th>C/(A+B)</th>
				      <th>(C+E)/(A+B)</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-label="C/A">{{CA}}</td>
				      <td data-label="(C+E)/A">{{CEA}}</td>
				      <td data-label="C/(A+B)">{{CAB}}</td>
				      <td data-label="(C+E)/(A+B)">{{CEAB}}</td>
				    </tr>
				  </tbody>
	            </table>
				<h5 class="bj-title2-font">备注：<span class="bj-p-gray-font">{{chrbz}}</span></h5>
				<h5 class="bj-ul-clear bj-title2-font">支付证书：
				    <div id="file-list">
                    </div>
				</h5>
				<h5 class="bj-title2-font">审批流程状态：<span class="bj-p-gray-font">{{chrsplczt}}</span></h5>
				<h5 class="bj-title2-font">报告人：<span class="bj-p-gray-font">{{chrbgrmc}}</span></h5>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_pay_record_detail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>