<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button id="editBtn" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="edit()">更新</button>
		</header>
		<div class="mui-content" id="list">
			<div class="mui-content-padded">
				<h5 id="bj-xmmc" >项目</h5>
				<h5 style="margin-left: 16px;"><span id="toright"></span>项目基本资料</h5>
				<h5 style="margin-left: 32px;"><span id="toright"></span>项目承建各方名称</h5>
				<hr />
				<h5 class="bj-title2-font"><span class="bj-title-p-font">建设单位：</span><span class="bj-p-gray-font" id="chrcjdwmc">单位</span></h5>
				<h5 class="bj-title2-font"><span class="bj-title-p-font">代建单位：</span><span class="bj-p-gray-font" id="chrdjdwmc">单位</span></h5>
			</div>
			<ul class="mui-table-view bj-title2-font bj-background-inherit"> 
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">顾问单位名单</a>
		            <div class="mui-collapse-content" id="gw" style="overflow-x: scroll;">
		            		<table >
						  <thead>
						    <tr>
						      <th>单位类型名称</th>
						      <th>单位名称</th>
						      <th>合同金额</th>
						    </tr>
						  </thead>
						  <tbody  id="gwdwNr">
						    <!--<tr>
						      <td data-label="单位类型名称">{{item.chrzbmc}}</td>
						      <td data-label="单位名称">{{item.chrzbz}}</td>
						      <td data-label="合同金额">{{item.chrzbz}}</td>
						    </tr>-->
						    
						  </tbody>
						</table>
		            </div>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">施工单位名单</a>
		            <div class="mui-collapse-content" id="sg" style="overflow-x: scroll;">
		            		<table >
						  <thead>
						    <tr>
						      <th>单位类型名称</th>
						      <th>单位名称</th>
						      <th>合同金额</th>
						    </tr>
						  </thead>
						  <tbody  id="sgdwNr">
						    <!--<tr>
						      <td data-label="单位类型名称">{{item.chrzbmc}}</td>
						      <td data-label="单位名称">{{item.chrzbz}}</td>
						      <td data-label="合同金额">{{item.chrzbz}}</td>
						    </tr>-->
						    
						  </tbody>
						</table>
		            </div>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">其他工作单位名单</a>
		            <div class="mui-collapse-content" id="qt" style="overflow-x: scroll;">
		            		<table >
						  <thead>
						    <tr>
						      <th>单位类型名称</th>
						      <th>单位名称</th>
						      <th>合同金额</th>
						    </tr>
						  </thead>
						  <tbody  id="qtdwNr">
						    <!--<tr>
						      <td data-label="单位类型名称">{{item.chrzbmc}}</td>
						      <td data-label="单位名称">{{item.chrzbz}}</td>
						      <td data-label="合同金额">{{item.chrzbz}}</td>
						    </tr>-->
						    
						  </tbody>
						</table>
		            </div>
		        </li>
		    </ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_basis_buildUnits.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
