<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0);" onclick="outPage()"></a>
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scrollT">

					</div>
				</div>
			</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" onclick="openNext(1)">项目基本资料</li>
				<li class="mui-table-view-cell" onclick="openNext(2)">主要工期节点/比较</li>
				<li class="mui-table-view-cell" onclick="openNext(3)">照片记录</li>
				<li class="mui-table-view-cell" onclick="openNext(4)">施工进度记录</li>
				<li class="mui-table-view-cell" onclick="openNext(5)">样板施工记录</li>
				<li class="mui-table-view-cell" onclick="openNext(6)">质量缺陷报告</li>
				<li class="mui-table-view-cell" onclick="openNext(7)">材料样本审批记录</li>
				<li class="mui-table-view-cell" onclick="openNext(8)">工程/顾问变更记录</li>
				<li class="mui-table-view-cell" onclick="openNext(9)">工程款申请/支付记录</li>
				<li class="mui-table-view-cell" onclick="openNext(10)">安全报告</li>
				<li class="mui-table-view-cell" onclick="openNext(11)">政府部门巡查/专项验收记录</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_detail_list.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>