<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>工程款申请/支付情况</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">工程款申请/支付情况</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="openNextAdd()">新增</button>
		</header>
		<div class="mui-content" id="list">
			<ul class="mui-table-view bj-title2-font bj-background-inherit"> 
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">顾问公司费用申请/支付情况</a>
		            	<ul class="mui-table-view bj-background-inherit"> 
				        <li class="mui-table-view-cell mui-collapse" onclick="openNext(1)">2018-3-15</li>
				        <li class="mui-table-view-cell mui-collapse" onclick="openNext(1)">2018-3-15</li>
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">施工单位工程款申请/支付情况</a>
		            	<ul class="mui-table-view bj-background-inherit"> 
				        <li class="mui-table-view-cell mui-collapse" onclick="openNext(1)">2018-3-15</li>
				        <li class="mui-table-view-cell mui-collapse" onclick="openNext(1)">2018-3-15</li>
		    			</ul>
		        </li>
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">其他单位费用申请/支付情况</a>
		            	<ul class="mui-table-view bj-background-inherit"> 
				        <li class="mui-table-view-cell mui-collapse" onclick="openNext(1)">2018-3-15</li>
				        <li class="mui-table-view-cell mui-collapse" onclick="openNext(1)">2018-3-15</li>
		    			</ul>
		        </li>
		    </ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_pay_record.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
