<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>规划指标数据</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<style type="text/css"> 
		  [v-cloak] { 
		    display: none; 
		  } 
		</style> 
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0);" onclick="outPage()"></a>
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="edit()">更新</button>
		</header>
		<div class="mui-content" id="app" v-cloak>
			<ul class="mui-table-view mui-grid-view mui-grid-9" 
				v-if="list.length>5" 
				>
				<div class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-3"
					v-for="item in list">
					<input class="bj-input-disable" v-model="item.chrzbmc"></input>
					<input class="bj-input-disable" v-model="item.chrzbz+'('+item.chrzdw+')'"></input>
				</div>
			</ul>
			<ul class="mui-table-view mui-grid-view mui-grid-9" v-else>
				<li class="mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12"
					v-for="item in list" >
					<input class="bj-input-disable" v-model="item.chrzbmc"></input>
					<input class="bj-input-disable" v-model="item.chrzbz+'('+item.chrzdw+')'"></input>
				</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_basis_targetData.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>