<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>基础施工</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../libs/layui/css/layui.css"/>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		<style type="text/css"> 
          [v-cloak] { 
            display: none; 
          } 
        </style> 
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0);" onclick="outPage()"></a>
			<h1 class="mui-title">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="title-scroll">

					</div>
				</div>
			</h1>
		    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" onclick="save()">保存</button>
		</header>
		<div class="mui-content" id="app" v-cloak>
			<form id="myform">
			            <input class="bj-input bj-p-black-font " type="hidden" id="fileIds" />
			            <input class="bj-input bj-p-black-font " type="hidden" id="id" v-model="id"/>
			            <input class="bj-input bj-p-black-font " type="hidden" id="intxmid" v-model="intxmid"/>
				<div class="mui-content-padded">
					<h5 class="bj-title2-font">报告日期：
						<input class="bj-input bj-p-black-font bj-disable" type="text" id="dtmbgrq" v-model="dtmbgrq"/>
					</h5>
					<h5 class="bj-title2-font">施工位置：
						<input class="bj-input bj-p-black-font" type="hidden" id="intsgwzid" v-model="intsgwzid" placeholder="请选择" />
						<input class="bj-input bj-p-black-font"  readonly="readonly"  type="text" id="chrsgwzmc" v-model="chrsgwzmc" v-on:click="sgPicker" placeholder="请选择" />
					</h5>
					<h5 class="bj-title2-font " v-if="intsgwzid==-1">施工位置描述：
					   <textarea  class="bj-input bj-p-black-font" type="text" id="chrsgwzms" v-model="chrsgwzms" placeholder="施工位置描述"></textarea>
                    </h5>
					<h5 class="bj-title2-font" v-if="intsgwzid!=-1">基础类型：
						<input class="bj-input bj-p-black-font" type="hidden" id="intjclx" v-model="intjclx" placeholder="请选择" />
						<input class="bj-input bj-p-black-font"  readonly="readonly"  type="text" id="chrjclx" v-model="chrjclx" v-on:click="jcPicker" placeholder="请选择" />
					</h5>
					<h5 class="bj-title2-font " v-if="intjclx==3">桩基础总数量：
                       <input  class="bj-input bj-p-black-font" type="text" onchange="setWcl()" id="intzjczsl" v-model="intzjczsl" placeholder="桩基础总数量"/>
                    </h5>
                    <h5 class="bj-title2-font " v-if="intjclx==3">桩基础完成数量：
                       <input  class="bj-input bj-p-black-font" type="text" onchange="setWcl()" id="intzjcwcl" v-model="intzjcwcl" placeholder="桩基础完成数量"/>
                    </h5>
					<h5 class="bj-title2-font">完成量(百分比)：
						<input class="bj-input bj-p-black-font" type="number" id="intwcl" v-model="intwcl" placeholder="请输入" />
					</h5>
					<h5 class="bj-title2-font">浇筑砼日期：
						<input class="bj-input bj-p-black-font"   readonly="readonly" type="text" id="dtmjzqrq" v-on:click="datePicker" v-model="dtmjzqrq" placeholder="请选择" />
					</h5>
					<h5 class="bj-title2-font">报告人：
						<input class="bj-input bj-p-black-font" type="hidden" id="intbgrid" v-model="intbgrid" placeholder="报告人" />
						<input class="bj-input bj-p-black-font bj-disable" type="text" id="chrbgrmc" v-model="chrbgrmc" placeholder="报告人名称" />
					</h5>
					<h5 class="bj-title2-font">照片：</h5>
					<div id="uploader" class="wu-example">
					    <!--用来存放文件信息-->
					    <div class="btns">
					        <button id="chbtn" type="button">选择照片</button>
					    </div>
					    <div id="img-list" class="mui-table-view mui-table-view-chevron mui-grid-view">
					    </div>
					</div>
				</div>
			</form>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.lazyload.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/mui.lazyload.img.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/project_progress_record_baseAdd.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>