<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>项目管理平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/app.css"/>
		<style type="text/css">
			/*.mui-active{
				color: #fff !important;
				background-color: gray !important;
			}
			.mui-table-view-cell{
				border: 1px solid #ccc !important;
			}*/
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" >
			<h1 class="mui-title" style="margin-left: 50px;" >首页</h1>
			 <!--<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right"><a href="./html/login/login.html">退出</a></button>-->
		</header>
		<div class="mui-content">
			<h5>事业部信息</h5>
			<ul class="mui-table-view" id="unit">
				<li class="mui-table-view-cell" url='html/architecture_list.html'>管理架构及各功能组别职能</li>
				<li class="mui-table-view-cell" url='html/flow_list.html'>各项审批/管理流程</li>
				<li class="mui-table-view-cell" url='html/process_list.html'>审批/工作流程表格</li>
				<li class="mui-table-view-cell" url='html/address_dept.html'>事业部人员讯息</li>
				<li class="mui-table-view-cell" url='html/notice_list.html'>事业部公告</li>
			</ul>
			<h5>项目列表</h5>
			<ul class="mui-table-view" id="unit">
				<li class="mui-table-view-cell" type="1" url='html/project_list.html?intxmlx=1'>PMC项目</li>
				<li class="mui-table-view-cell" type="2" url='html/project_list.html?intxmlx=2'>EPC项目</li>
			</ul>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
            mui('.mui-content').on('tap', '.mui-table-view-cell', function () {
                url = this.getAttribute("url");
                if (url!=null) {
                		try{
                			setCookie("xmlx",this.getAttribute("type"));
                		}catch(e){
                			//TODO handle the exception
                		}
                    toUrl(url);
                } else{
                    console.log('没有url');
                    bjToast("跳转出现问题，请联系管理员！")
                }

            });
		</script>
	</body>
</html>
